
<div id="container-future">  
    <?= $this->action('blockmaterials', 'events', 'materials', array('sort' => Model_Materials::FUTURE_MATERIALS))?>               	
</div>
</div>

<div class="events-delimeter">
прошедшие события > прошедшие события > прошедшие события > прошедшие события > прошедшие события > прошедшие события > прошедшие события > прошедшие события > прошедшие события > прошедшие события > прошедшие события > прошедшие события > 
</div>

<div class="limit">
<div id="container">  
    <?= $this->action('blockmaterials', 'events', 'materials', array('sort' => Model_Materials::PAST_MATERIALS))?>                
</div>

<script type="text/javascript">
    defaultPaginator = new Paginator('/materials/events/blockmaterials');
    defaultPaginator.setParam('sort', '<?echo Model_Materials::PAST_MATERIALS?>')
    function updateStrip(order, ui) {
        if(!$(ui).hasClass('no_active')) {
            defaultPaginator.resetPage();
            defaultPaginator.setParam('sort', order)
            defaultPaginator.getMaterials(true);
        }

    }
    MenuNavigator.setCurrentMenu('<?echo $this->url(array(), 'events')?>');
</script>