.simple-bg-transition {
  transition-property: 'background-color';
  transition-duration: 0.3s;
}
section.springblade-top {
  background: #000000 url('../../images/springblade/bg.jpg') top center no-repeat;
  margin: -37px 0 0 0;
  position: relative;
}
section.springblade-top div.springblade-promo {
  min-height: 1300px;
}
section.springblade-top div.limit {
  position: relative;
  width: 1120px !important;
}
section.springblade-top div.springblade-menu {
  position: absolute;
  top: 370px;
  left: 0;
  width: 200px;
}
section.springblade-top div.springblade-menu a {
  transition-property: 'background-color';
  transition-duration: 0.3s;
  display: inline-block;
  margin: 0 0 10px 0;
  font-size: 18px;
  color: #fff;
  background: url('../../images/springblade/menu-bg.png') top right no-repeat #ed1003;
  height: 42px;
  line-height: 41px;
  padding: 0 40px 0 12px;
  font-family: "avantgarde", Arial, Helvetica, sans-serif;
}
section.springblade-top div.springblade-menu a:hover {
  background-color: #ed4238;
}
section.springblade-top div.explosive {
  font-family: "avantgarde", Arial, Helvetica, sans-serif;
  color: #d7e123;
  font-size: 48px;
  text-align: center;
  position: absolute;
  top: 710px;
  width: 100%;
  left: -20px;
}
section.springblade-top div.springblade-likes {
  position: absolute;
  width: 100%;
  top: 830px;
  left: 0;
}
section.springblade-top div.springblade-likes div.springblade-likes-item {
  width: 150px;
  float: left;
}
section.springblade-top div.springblade-text {
  position: absolute;
  top: 890px;
  left: 0;
  width: 430px;
}
section.springblade-top div.springblade-text p {
  color: #fff;
  font-family: "adihaus_reg", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  margin: 0 0 8px;
  line-height: 21px;
}
section.springblade-top div.springblade-video {
  position: absolute;
  top: 890px;
  right: 0;
}
div.springblade-features {
  min-height: 1000px;
  position: relative;
}
div.springblade-features div.springblade-feature {
  position: absolute;
  color: #fff;
  font-family: "adihaus_reg", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
}
div.springblade-features div.springblade-feature h3 {
  color: #d7e123;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "adihaus_reg", "Arial", "Helvetica", sans-serif;
  line-height: 22px;
}
div.springblade-social {
  background: url('../../images/springblade/social-bg.png') top left repeat-x;
  padding: 300px 0 0 0;
  margin: -200px 0 0 0;
}
section.layout {
  margin: 0;
}
div.springblade-map-wrapper {
  position: relative;
}
div.springblade-map-shadow {
  position: absolute;
  z-index: 10000;
  height: 43px;
  width: 100%;
  top: 0;
  left: 0;
  background: url('../../images/springblade/map-shadow.png') repeat-x;
}
div#springblade-map {
  margin: 0;
  width: 100%;
  height: 800px;
}
div.infobox {
  border-top: solid 4px #000;
  background: #fff;
  width: 340px;
}
div.infoBox {
  display: none;
}
div.infoBox img {
  display: none;
}
div.infobox-close {
  background: url('../../images/springblade/infobox-close.png') no-repeat 0 0;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 13px;
  right: 15px;
  z-index: 10000;
  cursor: pointer;
}
div.infobox-top {
  padding: 40px 20px 15px;
  position: relative;
}
div.infobox-corner {
  background: url('../../images/springblade/corner.png') no-repeat 42px 0;
  height: 11px;
  width: 340px;
}
div.infobox-name {
  color: #000;
  font-size: 18px;
  font-family: "adihaus_md", Arial, Helvetica, sans-serif;
}
div.infobox-address {
  color: #000;
  font-size: 18px;
  font-family: "adihaus_reg", Arial, Helvetica, sans-serif;
}
div.infobox-phone {
  color: #000;
  font-size: 18px;
  font-family: "adihaus_reg", Arial, Helvetica, sans-serif;
}
div.infobox-hours {
  padding: 25px 20px;
  background: #d7e023;
  color: #000;
  font-size: 18px;
  font-family: "adihaus_reg", Arial, Helvetica, sans-serif;
}
div.infobox-hours div.infobox-hours-title {
  color: #000;
  font-size: 18px;
  font-family: "adihaus_md", Arial, Helvetica, sans-serif;
}
div.title {
  color: #d7e123;
  font-size: 48px;
  font-family: "avantgarde", Arial, Helvetica, sans-serif;
}
