.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: auto;
    padding: 10px 50px;
    height: 179px;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  auto;
    height: 300px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 210px;
    height: 715px;
}