div.calendar{margin:0 auto;position:relative}div.calendar h1.title{background:url('../images/title.png') top left no-repeat;padding:350px 130px 0 0;margin:19px 0 0 0;color:#000;font-family:"avantgarde",Arial,Helvetica,sans-serif;font-size:60px;max-width:880px;letter-spacing:1px;line-height:97%}
div.calendar div.calendar-likes{width:100%;margin:60px 0 82px;overflow:hidden}div.calendar div.calendar-likes div.calendar-likes-item{width:130px;float:left}
div.calendar div.calendar-month h1{color:#ffeb1b;font-size:200px;font-family:"avantgarde",Arial,Helvetica,sans-serif}
div.calendar div.calendar-month div.calendar-days{position:relative;margin:-35px 0 0 0}div.calendar div.calendar-month div.calendar-days div.calendar-day{width:260px;height:260px;float:left;margin:0 40px 40px 0;position:relative}div.calendar div.calendar-month div.calendar-days div.calendar-day h2{margin:0 0 3px;padding:0;font-style:normal;font-size:150px;color:#000;font-family:"adineuebold",Arial,Helvetica,sans-serif;line-height:140px}
div.calendar div.calendar-month div.calendar-days div.calendar-day h3{margin:0 0 10px;padding:0;font-style:italic;font-size:18px;color:#8dc63f;font-family:"adihaus_reg","Arial","Helvetica",sans-serif;text-transform:uppercase;line-height:100%}
div.calendar div.calendar-month div.calendar-days div.calendar-day div.calendar-place{font-family:"adihaus_reg","Arial","Helvetica",sans-serif;color:#000;font-size:16px;padding:0 0 0 27px;background:url('../images/pin.png') 1px 3px no-repeat;height:20px;line-height:20px}
div.calendar div.calendar-month div.calendar-days div.calendar-day div.calendar-distance{font-family:"adihaus_reg","Arial","Helvetica",sans-serif;color:#000;font-size:16px;padding:0 0 0 27px;background:url('../images/distance.png') 1px 5px no-repeat;height:20px;line-height:20px}
div.calendar div.calendar-month div.calendar-days div.calendar-day img.flag{position:absolute;left:185px;top:97px}
