<div class="element article art_inspirate">
    <a href=""><img src="/design/images/img1.png" alt="img" class="main" /></a>
    <div class="lines"></div>
    <div class="animation_text">
      <a href="" class="title">Революция в беге</a>
    </div>
    <div class="sub_info">
        <div class="text">11 марта 2013</div>
        <div class="comments"><span></span>14</div>
        <div class="likes"><span></span>50</div>      
    </div>
</div>  