<div class="sort">
    <!--<div class="title">Сортировать</div>-->
    <ul>
         <li class="current" onclick="updateStrip('id')">Новые</li>
         <li onclick="updateStrip('rate')">Популярные</li>
    </ul>
</div>

<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div id="container">
    <div class="index_slider element">
        <div class="slider_numbers">
            <a href="" class="t_black">1<span></span></a><!-- t_black\t_green\t_yellow - цвет текста при наведении-->
            <a href="" class="t_green">2<span></span></a>
            <a href="" class="t_yellow">3<span></span></a>
        </div>
        <div class="index_slide">
            <img src="/data/banners/2013/07/c4f5955b66362e72a7fb0d4d104a2415/prev560.jpg" alt="img" />
            <div class="slider_lines black"></div> <!-- black\green\yellow -->
            <div class="slider_shadow black">технология climacool revolution с максимальной вентиляцией на 340º</div><!-- цвет текста - t_black\t_green\t_yellow, по умолчанию белый -->
        </div>                            
        <div class="index_slide">
            <img src="/data/banners/2013/06/177ccdcd772aeedda97b1f029996f597/prev560.jpg" alt="img" />
            <div class="slider_lines green"></div>
            <div class="slider_shadow green t_black">технология climacool revolution с максимальной вентиляцией на 350º</div>
        </div>
        <div class="index_slide">
            <img src="/data/banners/2013/06/c6e8b0c086b2a1e599c2e2fec9cbb1eb/prev560.jpg" alt="img" />
            <div class="slider_lines yellow"></div>
            <div class="slider_shadow yellow t_green">технология climacool revolution с максимальной вентиляцией на 360º</div>
        </div>
    </div>
   <div style="clear: both;"></div>                              	
</div>
<script type="text/javascript" src="/design/js/slider.js"></script>
<script type="text/javascript">
    $('.index_slider').mySlider();
    /*updateSliderElements();
    setInterval(function(){
        var currentSlider = $('.index_slider .slider_numbers').find('a.active').index();
        var nextSlider = currentSlider + 1;
        if(currentSlider >= $('.index_slider .slider_numbers > a').length - 1)
            nextSlider = 0;
        updateSliderElements();
        
        $('.index_slider .index_slide').eq(currentSlider).animate({opacity: 0}, {
            duration: 800,
            progress:function(animation, progress, NremainingMs){
            },
        });
        $('.index_slider .index_slide').eq(nextSlider).animate({opacity: 1}, {
            duration: 800,
            progress:function(animation, progress, NremainingMs){
                $('.index_slider .slider_numbers > a').removeClass('active').eq(nextSlider).addClass('active');
            },
            complete:function(){
                $('.index_slider .index_slide').eq(nextSlider).find('.slider_lines, .slider_shadow').fadeIn(300);
            },
        });
        
    }, 3000);
    function updateSliderElements() {
        var currentSlider = $('.index_slider .slider_numbers').find('a.active').index();
        $('.index_slider .index_slide').each(function(index, object) {
            if(index != currentSlider) {
                $(object).css('opacity', 0).find('.slider_lines, .slider_shadow').hide();
            }
        });
    }*/

</script>