/* LYTEBOX */
#lbOverlay { position: fixed; top: 0; left: 0; z-index: 99998; width: 100%; height: 500px; background: #000 url('images/overlay.gif') repeat; }
#lbMain { position: absolute; left: 0; width: 100%; z-index: 99999; text-align: center; line-height: 0; }
#lbMain a img { border: none; }
#lbOuterContainer { position: relative; background-color: #fff; width: 200px; height: 200px; margin: 0 auto; -webkit-box-shadow: 1px 0 5px #000; -moz-box-shadow: 1px 0 5px #000; box-shadow: 1px 0 5px #000; }
#lbDetailsContainer { display: none; font: 10px 'Trebuchet MS', Arial, Helvetica, sans-serif; background-color: #fff; width: 100%; line-height: 1.4em; overflow: auto; margin: 0 auto; -moz-border-radius: 0 0 3px 3px; -webkit-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px; }
#lbLoading { position: absolute; top: 45%; left: 0%; height: 35px; width: 100%; text-align: center; line-height: 0; background: url('images/loading.gif') center no-repeat; }
#lbHoverNav { position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#lbImageContainer>#lbHoverNav { left: 0; }
#lbHoverNav a { outline: none; }
#lbPrev { width: 49%; height: 100%; background: transparent url('images/blank.gif') no-repeat; display: block; left: 0; float: left; }
#lbPrev:hover { background: url('images/prev.gif') left center no-repeat; }
#lbNext { width: 49%; height: 100%; background: transparent url('images/blank.gif') no-repeat; display: block; right: 0; float: right; }
#lbNext:hover { background: url('images/next.gif') right center no-repeat; }
#lbClose { width: 44px; height: 10px; float: right; margin-top: 6px; background: url('images/close.gif') no-repeat right top; }
#lbDetailsData { padding: 0 10px; line-height: 10px; color: #000; }
#lbDetails { width: 60%; float: left; padding: 6px 0; text-align: left; }
#lbCaption { font-weight: bold; }
#lbNumberDisplay { float: left; display: block; padding-right: 1em; }
#lbNavDisplay { float: left; display: block; } 