<div class="sort">
     <ul>
          <li onclick="updateStrip('rate')">Популярные</li>
          <li class="current" onclick="updateStrip('id')">Новые</li>
     </ul>
</div>
<script>
    MenuNavigator.setCurrentMenu('/users/famous');
</script>
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div id="container">
    <? foreach($this->data as $user): ?>
        <? echo $this->partial('partials/people.tpl', array('user' => $user));?>
    <? endforeach ?>
    
    <?= $this->action('index', 'people', 'materials');  ?>
    
    
    <div style="clear: both;"></div>                              	
</div>