            <!-- Footer -->
            <div id="mws-footer">
            	<a href="/"></a>
            </div>
            <script type="text/javascript">
                $(function(){
                    $("#mws-footer a").text(window.location.hostname);
                });
            </script>
            
        </div>
        <!-- Main Container End -->
        
    </div>
    

    
    
</body>
</html>