<?= $this->partial('header.tpl')?> 
    <?= $this->partial('headmenu.tpl')?> 
          <section class="content">    	
                <div class="limit new_profile <?if(!Model_Users::isCurrentUserProfile()):?>somebody<?endif;?>">
                    <?= $this->layout()->content ?> 
                </div>      
            <!-- footer-push -->
            <div class="footer-push"><div class="limit"></div></div>
        </section>
<?= $this->partial('footer.tpl')?> 