<div class="mws-panel grid_8">
	<div class="mws-panel-header">
    	<span class="mws-i-24 i-pencil">Просмотр</span>
                            <div class="mws-panel-toolbar top">
                        	<ul>
                            	<li><a class="mws-ic-16 ic-arrow-left" href="<? echo $_SERVER['HTTP_REFERER'] ?>" title="Назад">Назад</a></li>
                            </ul>
                        </div>
    </div>
    <div class="mws-panel-body">
    <form  onsubmit="return saveForm('/<? echo  $this->module_params['module']."/".$this->module_params['controller']?>/save/id/<? echo $this->module_params['id'] ?>', this);" method="post" class="mws-form" id="mws-validate"> 
		<div class="mws-form-row">
			<label><b>Сообщение отправил:</b></label>
			<div class="mws-form-item small"><?= $this->data->name?></div>
		</div>
        
        <div class="mws-form-row">
			<label><b>E-mail:</b></label>
			<div class="mws-form-item small"><?= $this->data->email?></div>
		</div>
        
		<div class="mws-form-row">	
			<label><b>Тема:</b></label>
			<div class="mws-form-item small"><? echo $this->data->theme ?></div>
		</div>
            <div class="mws-form-row">
		<label><b>Текст:</b></label>
		<div class="mws-form-item small"><? echo $this->data->text ?></div>
	    </div>
      
	<div class="mws-form-row">
		<label><b>Рассмотрено:</b></label>
			<?=$this->formCheckbox("complited",null,array('checked' => $this->data->complited==1))?>
            
        
    <div class="mws-form-row">
		<label><b>Ответ:</b></label>
		
			<?$spaw= new DR_Api_View_Helper_Spaw()?>
			<?=$spaw->spaw("answer")?>
            <input  type="hidden" name="answeremail" value="<?= $this->data->email?>"/>
	</div>
	
	
	<div class="mws-button-row">
	<input type="submit" class="mws-button green"  value="Сохранить"/>
	<div id="err_index"> </div>
	</div>
        </form>    
    </div>    	
</div>
</div>