<div class="error_404">ошибка 404</div> 
<div class="page_not_found">упс! на самом деле такой страницы нет!</div> 
<img src="/design/images/404.png" alt="img" class="img_404" />

<script>
  $(function(){
    $('section.content').addClass('page_404');  
  });
</script>