<? 
foreach($this->banners as $material):
    switch($material->promo_type):
        case Model_Promomaterials::BANNER:  ?>
            <?
                if(isset($this->materials[$material->material_id])) {
                    switch($this->materials[$material->material_id]['category_id']) {
                        case Model_Materials::CATEGORY_COACH_ARTICLES :
                        case Model_Materials::CATEGORY_INSPIRING_ARTICLES :
                        case Model_Materials::CATEGORY_ROUTE_ARTICLES :
                        case Model_Materials::CATEGORY_USER_ARTICLES :
                                echo $this->partial('partials/article.tpl', array('article' => $this->materials[$material->material_id]));
                            break;
                        case Model_Materials::CATEGORY_ROUTERS :
                                echo $this->partial('partials/route.tpl', array('route' => $this->materials[$material->material_id]));
                            break;
                        case Model_Materials::CATEGORY_EVENTS :
                                echo $this->partial('partials/event.tpl', array('event' => $this->materials[$material->material_id]));
                            break;
                        case Model_Materials::CATEGORY_QUETES :
                                echo $this->partial('partials/quote.tpl', array('quote' => $this->materials[$material->material_id]));
                            break;
                        case Model_Materials::CATEGORY_TWITTER_POST :
                        case Model_Materials::CATEGORY_INSTAGRAM_POST :
                                echo $this->partial('partials/social.tpl', array('post' => $this->materials[$material->material_id]));
                            break;
                    }
                }

        
            ?>
          <?  break;
        case Model_Promomaterials::CODE: ?>
            <div class="corner_element">
                <?= $material->code ?>
                
            </div>  
            
          <?  break;
        case Model_Promomaterials::IMAGE: ?>
            <div class="corner_element">
                <img onload="onLoadImage(this)" src="<?= $material->image ?>" alt="img" class="main" />
                
                
            </div>  
    <?        break;
    endswitch;

endforeach; ?>