<div id="photos_<? echo $this->data['id'] ?>" class="block_photo">
	<img src="<? echo $this->data['image'] ?>" alt="img" onclick="<?= $this->function ?>('<? echo $this->data['image'] ?>', <? echo $this->file_id ?>)"/>
    <div class="remove_img" onclick="removePhoto(<? echo $this->data['id'] ?>)"></div>
</div>