				<table class="mws-datatable mws-table tableContent" id="block_similar_articles" style="background-color: white;">
                        <thead>
                        	<tr>
                                <th>#<!--<input type="checkbox" onclick="massCheck(this)"/>--></th>
                        		<th>Название файла</th>
                        		<th>Категория</th>
                        	</tr>
                        </thead>
                		<tbody>
                			<?php if(count($this->data)):?>
                				<?php foreach($this->data as $row):?>
	                			<tr>
                                    <td><input type="checkbox" class="mass_checked" value="<?=$row['id'] ?>"/></td>
	                        		<td><?php echo $row['name']?></td>
                                    <td><?echo $row['category_name']?></td>
	                        	</tr>
	                        	<?php endforeach;?>
                        	<?php endif;?>
                		</tbody>
                </table>
                <? if(!is_null($this->pages)) { echo $this->paginationControl($this->pages, 'Sliding', 'ajaxpaginator.tpl', array('jsPaginateFunction'=>'addArticles'));} ?>