<?if(isset($this->data['stitle'])):?>
    <div class="mws-form-row">
        <label><a href="<?echo $this->url(array('stitle'=>$this->data['stitle']), $this->routerName)?>">Ссылка на сайте</a></label>
    </div>
<?endif;?>