@font-face {
    font-family: AvantGardeGothicC-Demi; /* Гарнитура шрифта */
    src: url('../fonts/AvantGardeGothicC-Demi.ttf'); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: adiNeue-Bold; /* Гарнитура шрифта */
    src: url('../fonts/adiNeue-Bold.otf'); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: AdHCyrMd_; /* Гарнитура шрифта */
    src: url('../fonts/AdHCyrMd_.ttf'); /* Путь к файлу со шрифтом */
    src: url('../fonts/adhcyrmd_-webfont.eot');
}

@font-face {
    font-family: Adhcyrrg; /* Гарнитура шрифта */
    src: url('../fonts/AdHCyrRg_.ttf'); /* Путь к файлу со шрифтом */
}

header .bottom_part {
    margin: 0;
}

#contentEnergy {
    background: #000 url('../images/bg.jpg') no-repeat center 0;
    min-height: 1400px;
    width: 100%;
    height: auto !important;
    /*overflow: hidden;*/
}

@media screen and (max-device-width: 320px) {
    #wrapper {
        width: 1250px;
        overflow: none;
    }
}

@media only screen and (device-width: 768px) {
    /* For general iPad layouts */
    #wrapper {
        width: 1250px;
        overflow: none;
    }
}

#contentEnergyWrapper {
    margin: 0 auto;
    width: 1120px;
    height: 1800px;
}

#contentEnergy__header {
    height: 502px !important;
    border: 1px solid transparent;
}

#contentEnergy h1 {
    font: normal 79px/70px avantgarde, sans-serif !important;
    margin: 64px 0 0;
    padding: 0 0 0 26px;
    text-transform: lowercase;
    width: 669px;
}

#contentEnergy__stats {
    list-style: none;
    margin: 33px 0 0;
    padding: 0 0 0 30px;
}

#contentEnergy__stats li {
    color: #000;
    display: block;
    font: normal 40px/40px avantgarde, sans-serif;
    margin: 0 0 7px;
}

#contentEnergy__summary {
    margin: 38px 0 0 30px;

}

#contentEnergy__summary p {
    color: #fff;
    font: normal 18px adihaus_reg, sans-serif;
    margin: 10px 0 0;
    width: 523px;

}

#contentEnergy__checkpoints {
    position: relative;
    display: block;
    list-style: none;
    height: 615px;
    width: 1100px;
    position: relative;
    top: -980px;
    left: 8px;
    z-index: 1;
}

#contentEnergy__checkpoints li {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
}

#contentEnergy__checkpoints li time {
    display: block;
    color: #ffeb1c;
    font: normal 32px/32px adineuebold, sans-serif;
    margin: 0 0 5px;
}

#contentEnergy__checkpoints li .title {
    color: #fff;
    display: inline-block;
    font: italic 32px/32px adihaus_reg, sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#contentEnergy__checkpoints #contentEnergy__checkpoints_item1 {
    left: 90px;
    top: 86px;
    width: 210px;
}

#contentEnergy__checkpoints #contentEnergy__checkpoints_item2 {
    left: 215px;
    top: 490px;
    width: 170px;
}

#contentEnergy__checkpoints #contentEnergy__checkpoints_item3 {
    left: 453px;
    top: 40px;
    width: 220px;
}

#contentEnergy__checkpoints #contentEnergy__checkpoints_item4 {
    left: 797px;
    top: -35px;
}

#contentEnergy__checkpoints #contentEnergy__checkpoints_item5 {
    left: 920px;
    top: -206px;
    width: 300px;
}

#contentEnergy__checkpoints #contentEnergy__checkpoints_item5 p {
    color: #fff;
    font-size: 18px;
    margin: -4px 0 0 0;
}

#contentEnergy__checkpoints .popup {
    background: url(../images/tmp_popup.png) no-repeat 0 0;
    display: block;
    position: absolute;
    top: -10px;
    left: 0;
    min-height: 233px;
    width: 263px;
    z-index: 10;
}

#contentEnergy__checkpoints .popup .buttons {
    background: #8dc63f;
    color: #000;
    padding: 15px 20px;
    margin: 234px 0 0 13px;
    width: 250px;
}

#contentEnergy__checkpoints .buttons a {
    background: url(../images/small_arrow.png) no-repeat right center;
    color: #000;
    font: normal 16px/20px adihaus_reg, sans-serif;
    padding: 0 24px 0 0;
    text-decoration: none;
    text-transform: uppercase;
}

#contentEnergy__aside {
    color: #fff;
    position: relative;
    top: -1390px;
    left: 550px;
    width: 520px;
}

#contentEnergy__aside h2 {
    color: #fff;
    font: normal 32px avantgarde, sans-serif !important;
    text-transform: lowercase;
}

#contentEnergy__aside ol {
    list-style: none;
    margin: 30px 0 0 12px;
    padding: 0;
}

#contentEnergy__aside ol li {
    margin: 0 0 25px;
}

#contentEnergy__aside ol .icon {
    background: url(../images/icons.png) no-repeat 0 0;
    display: inline-block;
    height: 74px;
    vertical-align: top;
    width: 74px;
}

#contentEnergy__aside ol .icon-arrow {
    background-position: 0 0;
}

#contentEnergy__aside ol .icon-clock {
    background-position: 0 -90px;
}

#contentEnergy__aside ol .icon-accumulate {
    background-position: 0 -177px;
}

#contentEnergy__aside ol .icon-run {
    background-position: 0 -273px;
}

#contentEnergy__aside ol .icon-smile {
    background-position: 0 -361px;
}

#contentEnergy__aside ol p {
    color: #fff;
    display: inline-block;
    font: normal 18px adihaus_reg, sans-serif;
    margin: 14px 0 0 18px;
    vertical-align: top;
    width: 410px;
}

#contentEnergy__aside .first p {
    margin: 24px 0 0 18px;
}

#contentEnergy__aside .last p {
    margin: 0px 0 0 18px;
}

/*nik*/

.my_lamp_x {
    /*height: 1850px;*/
    /*width: 2050px;*/
    /*   background: yellow;*/
    background-image: url(../images/lamp_11.png);
    background-repeat: no-repeat;
    margin: -870px 0 0 292px;
    position: absolute;
    z-index: -500;
}

.my_lamp_1 {
    height: 1850px;
    /*width: 2050px;*/
    /*   background: yellow;*/
    background-image: url(../images/lamp_12.png);
    background-repeat: no-repeat;
    margin: -915px 0 0 18px;
}

.point_1 {
    /*    background:yellow;*/
    opacity: 0.7;
    width: 25px;
    height: 25px;
    position: relative;
    top: 958px;
    left: 39px;
}

.point_2 {
    /*    background:yellowgreen;*/
    opacity: 0.7;
    width: 25px;
    height: 25px;
    position: relative;
    top: 1337px;
    left: 163px;
}

.point_3 {
    /*    background:blueviolet;*/
    opacity: 0.7;
    width: 25px;
    height: 25px;
    position: relative;
    top: 862px;
    left: 377px;
}

.point_4 {
    /*    background:darkorange;*/
    opacity: 0.7;
    width: 25px;
    height: 25px;
    position: relative;
    top: 763px;
    left: 744px;
}

.point_5 {
    /*    background:aqua;*/
    opacity: 0.7;
    width: 300px;
    height: 300px;
    position: relative;
    top: 153px;
    left: 707px;
}

.popup_1 {
    background-image: url(../images/popup_1.png);
    background-repeat: no-repeat;
    opacity: 1;
    position: relative;
    top: 514px;
    left: 6px;
    padding: 35px 0 0 62px;
    width: 338px;
    height: 336px;
    display: none;
    z-index: 1000;
}

.popup_1_login_link{
    margin: 4px 3px 0 0;
    display: inline-block;
}

.popup_text {
    color: black !important;
    padding: 7px 0 0 34px;
}

.popup_text2 {
    color: black !important;
    padding: 0px 0 0 34px;
    margin: 0px 0 0 0;
}

.popup_date {
    display: block;
    color: black;
    font: normal 32px/32px adineuebold, sans-serif;
    margin: 0 0 5px;
}

body {
    font-size: 100%;
}

.popup_title {
    line-height: 100%;
    display: inline-block;
    font-family: adihaus_reg, sans-serif;
    font-size: 32px;
    font-style: italic;
    /*font: italic 32px/32px adihaus_reg, sans-serif;*/
    text-transform: uppercase;
}

.popup_discr {
    font-family: Adhcyrrg;
    margin: 5px 0 5px 0;
    font-size: 13pt;
}

.popup_discr2 {
    font-family: Adhcyrrg;
    margin: 10px 0 5px 0;
    font-size: 13pt;
}

.popup_km {
    font-family: Adhcyrrg;
    font-size: 16px;
}

.popup_login {
    font-family: adihaus_reg, sans-serif;
    margin: 20px 0 0 0;
    text-transform: uppercase;
    width: 237px;
    height: 36px;
}

.popup_4_about_link_wrapper {
    margin: 30px 0 0 0;
}

.popup_login strong {
    margin: 2px 0 0 0;
}

.popup_login a {
    color: #000;
    font-family: adihaus_reg, sans-serif;
    padding: 0 4px 0 0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

.popup_login img {
    margin-top: -3px;
}

.popup_login2 {
    font-family: adihaus_reg, sans-serif;
    margin: 0 0 0 0;
    text-transform: uppercase;
    width: 237px;
    height: 36px;
}

.popup_2_login_link{
    margin: 4px 3px 0 0;
    display: inline-block;
}

.popup_login2 strong {
    margin: 2px 0 0 0;
}

.popup_login2 a {
    color: #000;
    font-family: adihaus_reg, sans-serif;
    padding: 0 4px 0 0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

.popup_2 {
    background-image: url(../images/popup_2.png);
    background-repeat: no-repeat;
    opacity: 1;
    position: relative;
    top: 800px;
    left: 124px;
    width: 350px;
    height: 288px;
    display: none;
    z-index: 1000;
    padding: 5px 0 0 77px;
}

.popup_3 {
    background: url(../images/popup_3.png) no-repeat 0 -38px;
    opacity: 1;
    position: relative;
    top: 505px;
    left: 339px;
    width: 350px;
    height: 319px;
    display: none;
    z-index: 1000;
    padding: 0px 0 0 71px;
}

.popup_3_login_link{
    margin: 4px 3px 0 0 ;
    display: inline-block;
}

.popup_4 {
    background: url(../images/popup_4.png) no-repeat top left;
    opacity: 1;
    position: relative;
    top: 393px;
    left: 704px;
    width: 350px;
    display: none;
    z-index: 1000;
    padding: 33px 0 0 70px;
}

/*pops*/

.point_6_1 {
    width: 50px;
    height: 50px;
    opacity: 0.7;
    /*background: aqua;*/
    position: absolute;
    top: 873px;
    left: 365px;

}

.point_6_2 {
    width: 50px;
    height: 50px;
    opacity: 0.7;
    /*background: aqua;*/
    position: absolute;
    top: 923px;
    left: 400px;

}

.point_6_3 {
    width: 50px;
    height: 50px;
    opacity: 0.7;
    /*background: aqua;*/
    position: absolute;
    top: 973px;
    left: 424px;

}

.point_6_4 {
    width: 50px;
    height: 50px;
    opacity: 0.7;
    /*background: aqua;*/
    position: absolute;
    top: 998px;
    left: 442px;
}

.point_6_5 {
    width: 50px;
    height: 50px;
    opacity: 0.7;
    /*background: aqua;*/
    position: absolute;
    top: 1073px;
    left: 478px;
}

.point_6_6 {
    width: 50px;
    height: 50px;
    opacity: 0.7;
    /*background: aqua;*/
    position: absolute;
    top: 1093px;
    left: 478px;
}

.point_6_7 {
    width: 50px;
    height: 50px;
    opacity: 0.7;
    /*background: aqua;*/
    position: absolute;
    top: 1142px;
    left: 462px;
}

.point_7_1 {
    width: 50px;
    height: 50px;
    opacity: 0.7;
    /*background: tomato;*/
    position: absolute;
    top: 1179px;
    left: 521px;
}

.point_7_2 {
    width: 50px;
    height: 50px;
    opacity: 0.7;
    /*background: tomato;*/
    position: absolute;
    top: 1149px;
    left: 570px;
}

.point_7_3 {
    width: 50px;
    height: 50px;
    opacity: 0.7;
    /*background: tomato;*/
    position: absolute;
    top: 1130px;
    left: 622px;
}

.point_7_4 {
    width: 50px;
    height: 50px;
    opacity: 0.7;
    /*background: tomato;*/
    position: absolute;
    top: 1103px;
    left: 684px;
}

.point_7_5 {
    width: 50px;
    height: 50px;
    opacity: 0.7;
    /*background: tomato;*/
    position: absolute;
    top: 1090px;
    left: 722px;
}

.point_7_6 {
    width: 50px;
    height: 50px;
    opacity: 0.7;
    /*background: tomato;*/
    position: absolute;
    top: 1070px;
    left: 772px;
}

.point_7_7 {
    width: 50px;
    height: 50px;
    opacity: 0.7;
    /*background: tomato;*/
    position: absolute;
    top: 1020px;
    left: 752px;
}

.point_7_8 {
    width: 50px;
    height: 50px;
    opacity: 0.7;
    /*background: tomato;*/
    position: absolute;
    top: 970px;
    left: 732px;
}

.point_7_9 {
    width: 50px;
    height: 50px;
    opacity: 0.7;
    /*background: tomato;*/
    position: absolute;
    top: 920px;
    left: 712px;
}

.point_7_10 {
    width: 50px;
    height: 50px;
    opacity: 0.7;
    /*background: tomato;*/
    position: absolute;
    top: 870px;
    left: 692px;
}

.point_7_11 {
    width: 50px;
    height: 50px;
    opacity: 0.7;
    /*background: tomato;*/
    position: absolute;
    top: 820px;
    left: 672px;
}

.point_8_1 {
    width: 50px;
    height: 50px;
    opacity: 0.7;
    /*background: darkkhaki;*/
    position: absolute;
    top: 744px;;
    left: 737px;
}

.point_8_2 {
    width: 50px;
    height: 50px;
    opacity: 0.7;
    /*background: darkkhaki;*/
    position: absolute;
    top: 734px;;
    left: 787px;
}

.point_8_3 {
    width: 50px;
    height: 50px;
    opacity: 0.7;
    /*background: darkkhaki;*/
    position: absolute;
    top: 724px;;
    left: 837px;
}

.point_8_4 {
    width: 50px;
    height: 50px;
    opacity: 0.7;
    /*background: darkkhaki;*/
    position: absolute;
    top: 727px;
    left: 864px;
}

.point_8_5 {
    width: 50px;
    height: 50px;
    opacity: 0.7;
    /*background: darkkhaki;*/
    position: absolute;
    top: 704px;;
    left: 937px;
}

.popup_6 {
    background-image: url(../images/popup_6.png);
    background-repeat: no-repeat;
    opacity: 1;
    position: absolute;
    top: 969px;
    left: 411px;
    width: 340px;
    height: 153px;
    padding: 12px 0 0 56px;
    display: none;
}

.popup_7 {
    background-image: url(../images/popup_6.png);
    background-repeat: no-repeat;
    opacity: 1;
    position: absolute;
    top: 1075px;
    left: 655px;
    width: 340px;
    height: 153px;
    display: none;
    padding: 17px 0 0 60px;
}

.popup_8 {
    background-image: url(../images/popup_6.png);
    background-repeat: no-repeat;
    opacity: 1;
    position: absolute;
    top: 699px;
    left: 834px;
    width: 340px;
    height: 153px;
    display: none;
    padding: 17px 0 0 60px;
}

.cep {
    position: relative;
    top: 135px;
    left: -300px;
    z-index: 2;
}

.cep1 {
    position: relative;

    z-index: 2;
}

#contentEnergy__likes {
    display: inline-block;
    width: 600px;
    margin: 70px 0 0 50px;
}

#contentEnergy__likes div {
    float: left;
    width: 100px;
}

body:after {
    display: none;
    content: url("../images/lamp_1.png") url("../images/lamp_2.png") url("../images/lamp_3.png") url("../images/lamp_4.png") url("../images/lamp_5.png");
}

#contentEnergy__aside .green {
    color: #8dc63f;
    width: 436px;
}

.amper-way {
    background: url('../images/amper-way.png') 0 0 no-repeat;
    width: 115px;
    height: 44px;
    color: #fff;
    font-style: normal;
    font-size: 26px;
    font-family: adihaus_reg, sans-serif;
    text-transform: uppercase;
    padding: 6px 12px 10px 29px;
    visibility: hidden;
}

.amper-big {
    background: url('../images/amper-big.png') 0 0 no-repeat;
    width: 239px;
    height: 91px;
    left: 983px;
    top: 581px;
    position: absolute;
    padding: 10px;
    visibility: hidden;
}

.amper-big .fline {
    font-style: normal;
    font-size: 16px;
    font-family: adihaus_reg, sans-serif;
    text-transform: uppercase;
    margin-left: 5px;
}

.amper-big .sline {
    font-style: normal;
    font-size: 42px;
    font-family: adihaus_reg, sans-serif;
    text-transform: uppercase;
    line-height: 1.3em;
    margin-left: 35px;
    color: #fff;

}

footer {
    margin-top: 0 !important;
}

.popup_2 .popup_login {
    margin-top: 23px;
}

.popup_7 .popup_login {
    margin-top: 25px;
}

.popup_8 .popup_login {
    margin-top: 25px;
}

#wrapper {
    overflow: hidden;
}

.popup_6 .popup_login2 {
    margin: 10px 0 0 5px;
}

.microsite-button {
    margin: 20px 0 0 0;
    display: block;
    background: url('../images/microsite-button.png') 0 0 no-repeat;
    cursor: pointer;
    width: 207px !important;
    height: 41px !important;
    position: relative;
    z-index: 100;
}

.microsite-button:hover {
    background-position: 0 -41px;
    cursor: pointer;
    width: 207px !important;
    height: 41px !important;
    position: relative;
    z-index: 100;
}