<div class="limit sidebar_content">    
    <div class="text_page">
        <h1><?= $this->escape($this->data->name) ?></h1>
        <?= $this->data->text?>
    </div>
    
    <!--<aside>
          <div class="element event current">
              <div class="event_container">  
                   <div class="day">13</div>
                   <div class="lines"></div>
                   <div class="month">июля</div>
                   <a  href="" class="title">пражский марафон</a>
              </div>
          </div> 
          <img src="/design/images/img14.png" alt="img" />
    </aside>-->
</div> 
