div.future-title{width:875px;height:481px;position:relative;background:url('../images/title-bg.jpg') no-repeat top left}div.future-title h1{position:absolute;bottom:25px !important;top:auto !important;left:3px;font-size:76px;line-height:74px !important}div.future-title h1 span{margin:0 0 0 1px;font-size:82px;font-family:"adineuebold",Arial,Helvetica,sans-serif}
div.future-likes{margin:60px 0 0;width:100%;overflow:hidden}div.future-likes div.future-likes-item{width:150px;float:left}
div.future-step{padding:85px 0 0 0;width:425px;position:relative}div.future-step.future-step-arrow{margin:40px 0 0;background:url('../images/arrow.png') no-repeat top left}
div.future-step.future-step-star{margin:-156px 0 0 487px;padding:104px 0 0;background:url('../images/star.png') no-repeat top left}
div.future-step.future-step-messages{margin:-62px 0 0 10px;padding:97px 0 0;background:url('../images/messages.png') no-repeat top left}
div.future-step.future-step-present{margin:-98px 0 0 487px;padding:96px 0 0;background:url('../images/present.png') no-repeat top left}
div.future-step a.button{position:absolute;display:block;background:url('../images/button-over.jpg') no-repeat top left;bottom:-64px;left:0;width:284px;height:42px}div.future-step a.button span{position:absolute;display:block;background:url('../images/button.jpg') no-repeat top left;top:0;left:0;width:284px;height:42px;opacity:1;transition-property:'opacity';transition-duration:.3s}
div.future-step a.button.button:hover span{opacity:0}
div.future-step div.arr{position:absolute;width:100px;height:100px;background-repeat:no-repeat;background-position:top left}div.future-step div.arr.arr1{background-image:url('../images/arr1.jpg');top:110px;left:430px}
div.future-step div.arr.arr2{background-image:url('../images/arr2.jpg');top:174px;left:-134px}
div.future-step div.arr.arr3{background-image:url('../images/arr3.jpg');top:175px;left:388px}
div.future-step h1{font-size:33px;font-family:"avantgarde",Arial,Helvetica,sans-serif;line-height:105% !important;margin:0 0 10px;font-weight:normal !important}div.future-step h1 span{font-size:36px;font-family:"adineuebold",Arial,Helvetica,sans-serif}
div.future-step p{font-family:"adihaus_reg",Arial,Helvetica,sans-serif;font-size:20px}div.future-step p b{font-family:"adihaus_md",Arial,Helvetica,sans-serif;font-size:20px;font-weight:bold}
div.future-step p span{font-family:"adineuebold",Arial,Helvetica,sans-serif;font-size:20px;font-weight:bold}
div.future-step div.disclaimer{margin:60px 0 0 0;font-size:14px}
