@charset "UTF-8";
/* CSS Document */

.article_block_gallery {
    position: relative;
    /*keep this intact*/
    visibility: hidden;
    /*keep this intact*/
    overflow: visible !important;
    margin: 75px 0 20px;
}

.article_block_gallery .navpanellayer {
    position: relative !important;
    top: -45px !important;
    display: block !important;
}

.article_block_gallery .gallerylayer {
    width: 560px;
    height: 560px;
    overflow: hidden;
}

.article_block_gallery .gallerylayer img {
    display: block;
    margin: 0 auto;
}

form.registration .control.file .img_box {
    max-height: 100px;
    max-width: 100px;
    width: auto;
    height: auto;
}

form.registration .control.social_button a.black p.text,
form.registration .control.social_button a.black {
    color: white;
    font-family: "adineuebold", Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0;
    line-height: 60px;
    text-align: center;
}

form.registration .control.social_button a.vk p.text,
form.registration .control.social_button a.vk {
    font-family: "avantgarde", Arial, Helvetica, sans-serif;
}

form.registration .control.social_button a.black p.text {
    height: 60px;
    line-height: 60px;
    margin-bottom: 0;
}

form.registration .control.social_button a p.text {
    font-size: 18px;
    line-height: inherit;
}

#vk_like1,
.fb-like,
#fb-root,
.g-plusone,
#tw-button1 {
    display: inline-block;
    float: left;
}

.fb-like {
    padding-right: 20px;
}

/*---------------------------------------*/
.navpanellayer .gallerystatus {
    color: #D2D2CD !important;
    font-family: "adineuebold", "Arial", "Helvetica", sans-serif !important;
    font-size: 48px !important;
}

.material_body,
.material_body a,
.material_body i,
.material_body em,
.material_body strong,
.material_body u,
.material_body p span,
.material_body ul,
.material_body ol,
.material_body li,
.material_body li span,
.material_body div {
    font-family: "adihaus_reg", "Arial", "Helvetica", sans-serif;
    color: #000000;
    font-size: 20px !important;
    line-height: 28px !important;
}

.material_body ol,
.material_body ul {
    margin-left: 20px;
    margin-bottom: 30px;
}

.material_body ul li {
    list-style: square;
    display: list-item;
}

.material_body div {
    position: relative;
}

.material_body p {
    margin-bottom: 30px;
    text-align: justify;
    font-size: 20px !important;
    line-height: 28px !important;
}

.material_body img {
    margin: 15px 0;
    display: block;
}

.material_body h1,
.material_body h2,
.material_body h3,
.material_body h4,
.material_body h5,
.material_body h6 {
    font-family: "adihaus_reg", "Arial", "Helvetica", sans-serif;
    color: #000000;
}

/*---------------------------------------------*/

body.tiny_editor,
body.tiny_editor a,
body.tiny_editor i,
body.tiny_editor em,
body.tiny_editor strong,
body.tiny_editor u,
body.tiny_editor ul,
body.tiny_editor ol,
body.tiny_editor p span,
body.tiny_editor li,
body.tiny_editor div {
    font-family: "adihaus_reg", "Arial", "Helvetica", sans-serif;
    color: #000000;
    font-size: 20px !important;
    line-height: 28px !important;
}

body.tiny_editor ul,
body.tiny_editor ol {
    margin-left: 45px;
    margin-bottom: 30px;
}

body.tiny_editor ul li {
    list-style: disc;
    display: list-item;
}

body.tiny_editor div {
    position: relative;
}

body.tiny_editor p {
    margin-bottom: 30px;
    text-align: justify;
    font-size: 20px !important;
    line-height: 28px !important;
}

body.tiny_editor img {
    margin: 15px 0;
    display: block;
}

body.tiny_editor h1,
body.tiny_editor h2,
body.tiny_editor h3,
body.tiny_editor h4,
body.tiny_editor h5,
body.tiny_editor h6 {
    font-family: "adihaus_reg", "Arial", "Helvetica", sans-serif;
    color: #000000;
}

/*-------------------------------------------*/

.gallery_name {
    font-size: 24px !important;
    color: #b2b2b2 !important;
}

.banner-rotator .inner-bg {
    top: 20px !important;
}

.banner-rotator .inner-text div span.text_box {
    width: 510px !important;
}

.desc_text_block {
    right: 0 !important;
    bottom: 0px !important;
}

.banner-rotator .inner-text {
    padding: 5px 35px !important;
}

.banner-rotator .thumbnails li {
    width: auto !important;
    margin-right: 0 !important;
    position: relative;
    text-align: left;
    margin-right: 5px !important;
}

.banner-rotator .thumbnails li .lines_block {
    width: 10px !important;
    height: 10px !important;
    background-image: url(../images/slider_arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent !important;
    display: block !important;
    padding: 0 !important;
    position: relative;
    display: inline-block;
    float: right;
    top: 5px;
    margin-left: 5px;
    border: 0 none !important;
}

.banner-rotator .thumbnails li:last-of-type .lines_block {
    display: none !important;
}

.element {
    cursor: pointer;
}

.element .event, .quote {
    cursor: default;
}

.material_body {
    z-index: 10;
    position: relative;
}

/*------------------------------------------------*/
section.content {
    padding-top: 10px;
}

h2 {
    margin-bottom: 15px;
    padding-left: 18px;
}

form.registration .control {
    margin-bottom: 17px;
}

form.registration .control.file label {
    margin-top: 14px;
}

.combo {
    width: 145px;
}

.combo .current {
    padding: 0 10px;
    height: 44px;
    line-height: 44px;
}

.combo .arrow {
    right: 8px;
    top: 22px;
}

form.registration .control.year {
    margin-top: -6px;
}

form.registration .button_area {
    padding-right: 20px;
}

form.registration .button_area input[type=submit] {
    padding: 0 35px 0 15px;
    text-align: left;
}

form.registration .button_area input[type=reset] {
    padding: 0 14px;
}

form.registration .button_area label.accept {
    padding: 0 40px 0 5px;
}

form.registration .registration_column {
    margin-bottom: 0;
}

form.registration .control > label {
    padding-left: 3px;
}

form.registration .control.day {
    margin-top: -4px;
}

input.send_mail {
    padding: 0 38px 0 12px;
    background-position: 111px 21px;
}

form.registration .control.remember_pass {
    margin-bottom: 2px;
}

h2.remember_pass {
    margin-bottom: 26px;
}

header .bottom_part div.login {
    padding: 0 10px !important;
}

form.registration .registration_column.login_social {
    width: 303px;
}

h2.login_title {
    margin-bottom: 27px;
}

form.registration .link_area {
    top: 15px;
    left: 5px;
}

form.registration .link_area a {
    line-height: 16px;
}

form.registration input[type=submit].login_submit {
    height: 60px;
    line-height: 60px;
    padding: 0 40px 0 17px;
    background-position: 67px 21px;
}

form.registration .registration_column.login_social .control label {
    margin-bottom: 18px;
}

form.registration .login_social a.fb span,
form.registration .login_social a.vk span,
form.registration .login_social a.tw span {
    top: 13px;
    left: 15px;
}

form.registration .login_social a.fb,
form.registration .login_social a.vk,
form.registration .login_social a.tw {
    padding-left: 11px;
}

.info_column .name {
    position: relative;
}

.personal_soc_ico {
    height: 32px;
    width: 115px;
    position: absolute;
    right: -165px;
    top: 17px;
}

.personal_soc_ico a {
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    float: left;
    display: inline-block;
}

.personal_soc_ico a.vk {
    background-position: -126px -59px;
}

.personal_soc_ico a.fb {
    background-position: -126px -91px;
    margin: 0 10px 0 4px;
}

.personal_soc_ico a.tw {
    background-position: -126px -123px;
}

.info_column .info {
    line-height: 32px;
}

.photo_column {
    margin-right: 15px;
}

.info_column .runner {
    margin: 82px 0 65px 0px;
}

.info_column a.edit {
    width: 276px;
    margin-left: 5px;
    padding: 0 30px 0 15px;
    background-position: 245px 21px;
}

h2.edit_profile_title {
    margin-bottom: 22px;
}

form.registration .control.social_button label {
    margin-left: -4px;
    line-height: 34px;
}

form.registration .control.social_button.edit_social {
    padding-top: 79px;
}

form.registration .control.social_button {
    margin-bottom: 37px;
}

form.edit_profile .control > label {
    padding-left: 0;
}

form.edit_profile .control.sex label.sex_label {
    text-transform: uppercase;
}

form.edit_profile .control.sex > label {
    margin-bottom: 7px;
}

form.edit_profile .control.day {
    padding-top: 28px;
}

form.edit_profile .fix_edit .control > label {
    padding-left: 5px;
}

.tags strong {
    cursor: pointer;
}

.sort ul li:after {
    content: "";
}

.edit_profile .img_place.has_avatar {
    background-image: none;
}

.edit_profile .img_place div.text {
    font-family: "avantgarde", Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.sidebar_content .title_img img.main {
    margin: 0;
}

h1 {
    line-height: 72px;
}

.comment_area .comment_point .name,
.comment_area .comment_point .date {
    font-family: "adihaus_md", Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.material_body a {
    text-decoration: underline;
}

.material_body p * {
    color: #000000;
    font-size: 24px;
}

form.registration .control.sex label.sex_label {
    text-transform: uppercase;
}

form.registration .control.sex label.sex_label:last-of-type {
    margin-left: 10px;
}

form.registration .control.day input,
form.registration .control.year input {
    text-align: left;
}

.social_boxes div.container {
    bottom: -25px;
    left: 50%;
    margin-left: -45px;
    width: auto;
}

.social_boxes div.gp div.container {
    width: 65px;
    margin-left: -25px;
}

.sidebar_content .title_img img.main {
    max-height: 100%;
}

.navpanelfg img.navimages {
    display: inline-block;
    margin: 0 !important;
    top: -2px !important;
}

.gallerystatus {
    top: 0 !important;
}

.gallery_name {
    top: 60px !important;
}

.corner-stamp.social .title {
    line-height: 30px;
}

.element.social.no_photo .ava {
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.element.social.no_photo .name {
    display: inline-block;
    left: 100px;
    position: relative;
    top: -30px;
}

.element.social.no_photo.wide .name {
    left: 250px;
    top: -28px;
}

.hashgtag_box div.animation {
    font-family: "adineuebold", "Arial", "Helvetica", sans-serif !important;
    font-size: 72px;
    height: 152px;
    line-height: 72px;
    margin: 0;
}

.hashgtag_box div.animation ul li {
    line-height: 62px;
}

.combo.active .current {
    background-color: #FFF0A5;
    border: 0 none;
}

#container_blog_top {
    margin-bottom: 20px;
}

#top_blog_more {
    margin-top: 0;
}

.element.art_inspirate.active,
.corner_element.art_inspirate.active {
    border-color: #8dc63f;
}

.element.route.active,
.element.art_user.active,
.element.art_route.active,
.element.social.active,
.corner_element.route.active,
.corner_element.art_user.active,
.corner_element.art_route.active,
.corner_element.social.active {
    border-color: #ffeb1c;
}

.element.art_master.active,
.corner_element.art_master.active {
    border-color: #1f1a02;
}

#content_1 {
    position: relative;
    top: -10px;
}

.cell.second .animation {
    width: 320px;
    height: 110px;
    position: absolute;
    left: 650px;
    top: 50%;
    margin-top: -55px;
    overflow: hidden;
}

.cell.second .animation img {
    display: block;
    margin: 0 auto !important;
    top: 0 !important;
    left: 0 !important;
}

.banner-rotator .screen a {
    display: block;
    width: 560px;
    height: 560px;
    position: relative;
}

#simplegallery1 {
    background: transparent !important;
}

.article_block_gallery .navpanellayer .navpanelbg {
    display: none !important;
    opacity: 0 !important;
}

.article_block_gallery .gallerydesctext {
    display: block !important;
    opacity: 1.0 !important;
    text-align: right;
    font-family: "adihaus_reg", "Arial", "Helvetica", sans-serif;
    line-height: 28px;
    color: #B2B2B2 !important;
    font-size: 24px !important;
}

.gallerydescbg {
    background: none !important;
}

.gallerydesc {
    position: relative !important;
    top: -90px !important;
    right: 0 !important;
    z-index: 1000 !important;
}

.gallery_name {
    display: none !important;
}

/*--------------------------------------*/
.element.art_inspirate:hover {
    border-color: #1f1a02;
}

.element.art_inspirate .sub_info .likes span,
.corner_element.art_inspirate .sub_info .likes span {
    background-position: 0 0;
}

.element.art_inspirate .sub_info .comments span,
.corner_element.art_inspirate .sub_info .comments span {
    background-position: -13px 0;
}

.element.art_inspirate .lines,
.corner_element.art_inspirate .lines {
    background-position: 0 0;
    width: 270px;
    left: -8px;
}

.element.art_inspirate .lines:after,
.corner_element.art_inspirate .lines:after {
    content: "";
    border-bottom: 7px solid white;
    border-left: 7px solid transparent;
    border-top: 0 none;
    position: absolute;
    bottom: 0;
    right: 0;
}

.element.art_inspirate .lines:before,
.corner_element.art_inspirate .lines:before {
    content: "";
    border-top: 6px solid white;
    border-right: 6px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
}

/*--------------------------------------*/
/*--------------------------------------*/
.element.art_master:hover {
    border-color: #8dc63f;
}

.element.art_master .sub_info .likes span,
.corner_element.art_master .sub_info .likes span {
    background-position: -26px 0;
}

.element.art_master .sub_info .comments span,
.corner_element.art_master .sub_info .comments span {
    background-position: -39px 0;
}

.element.art_master .lines,
.corner_element.art_master .lines {
    background-position: 0 -21px;
    width: 270px;
    left: -1px;
}

.element.art_master .lines:after,
.corner_element.art_master .lines:after {
    content: "";
    border-top: 7px solid white;
    border-left: 7px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
}

.element.art_master .lines:before,
.corner_element.art_master .lines:before {
    content: "";
    border-bottom: 6px solid white;
    border-right: 6px solid transparent;
    border-top: 0 none;
    position: absolute;
    bottom: 0;
    left: 0;
}

.short_text {
    overflow: hidden;
    position: relative;
}

.short_text:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 12px;
    width: 100%;
    -moz-box-shadow: 0 -1px 10px #fff;
    -webkit-box-shadow: 0 -1px 10px #fff;
    box-shadow: 0 -5px 10px 5px #fff;
}

form.registration .control.social_button a,
form.registration .control.social_button a.vk p.text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

header .top_part div.search form.search {
    height: 20px;
    top: 24px;
}

header .top_part div.search form.search input[type="text"] {
    height: 20px;
}

header .top_part div.search form.search input[type="button"] {
    top: 3px;
}

form.registration .control.social_button a.vk p.text {
    padding-right: 15px;
}

.photo_column {
    cursor: default;
}

.photo_column img {
    margin: 0 auto;
}

.route_title .local .flag {
    width: 15px;
    height: 17px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    background-position: -158px -59px;
    position: absolute;
    top: 7px;
    left: 2px;
}

.micoach_box .micoach_point .button {
    background-color: #8DC63F;
}

.sidebar_content .social_box {
    z-index: 60;
}

.edit_profile .img_place img {
    max-height: 256px;
}

.login_form input[type="button"] {
    background-color: #1F1A02;
    background-image: url("../images/arrow_white.png");
    background-position: 72px 13px;
    background-repeat: no-repeat;
    color: white;
    display: inline-block;
    float: right;
    font-family: "avantgarde", Arial, Helvetica, sans-serif;
    font-size: 18px;
    height: 44px;
    line-height: 44px;
    margin-top: 5px;
    padding: 0 45px 0 20px;
    text-align: left;
    border: 0 none;
    cursor: pointer;
}

.sidebar_content.event .registration {
    background-position: 220px 22px;
}

.hashgtag_box h1 {
    color: #1F1A02;
}

.hashgtag_box {
    padding: 20px !important;
}

.hashgtag_box p {
    font-size: 20px;
}

header .top_part div.logo a.logo {
    background-color: transparent;
    background-image: url("../images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    height: 46px;
    margin: 0px auto;
    position: relative;
    top: 15px;
    width: 179px;
}

.sort ul {
    margin-left: 10px;
}

.banner-rotator .thumbnails li {
    margin-right: 7px !important;
}

.banner-rotator .thumbnails li .lines_block {
    margin-left: 7px;
}

.element .sub_info div,
.corner_element .sub_info div {
    padding-right: 15px;
}

.route_title .route_length .lines:before {
    border-right: 6px solid transparent;
    border-top: 6px solid white;
    content: "";
    left: 0px;
    position: absolute;
    top: 0px;
}

.route_title .route_length .lines:after {
    border-bottom: 7px solid white;
    border-left: 7px solid transparent;
    bottom: 0px;
    content: "";
    position: absolute;
    right: 0px;
}

.route_title .route_length span {
    top: 79px;
}

.route_sort .combo {
    position: relative;
    top: -6px;
}

.combo.disabled .current {
    background-color: transparent !important;
    border-bottom: 3px solid #D6D6D6 !important;
}

.route_sort .combo .current {
    padding: 0 20px;
}

.route_sort .combo ul {
    padding-top: 5px;
}

.route_sort .combo .arrow {
    right: 18px;
}

div.content div.cell.first img {
    margin-top: -153px;
}

div.content div.cell.third .button_box .title {
    line-height: 45px;
}

div.content div.cell.third .button_box {
    margin-top: -111px;
}

div.runbase-top {
    width: 100%;
    height: 512px;
    margin: 0 auto 20px;
    background: url('../images/runbase/bg.jpg') no-repeat top left;
    padding: 30px;
    position: relative;
    overflow: hidden;
    max-width: 1160px;
}

div.runbase-top h1 {
    font-weight: bold;
    margin: 0 0 20px;
}

div.runbase-top p {
    font-family: 'avantgarde', Arial, Helvetica, sans-serif;
    width: 750px;
    font-size: 32px;
    line-height: 36px;
}

div.runbase-top div.features {
    position: absolute;
    top: 270px;
    left: 30px;
    width: 1160px;
}

div.runbase-top div.feature {
    width: 240px;
    height: 200px;
    font-size: 16px;
    float: left;
    margin: 0 50px 0 0;
}

div.runbase-top div.feature-image {
    margin: 0 auto 20px;
    width: 110px;
    height: 110px;
    text-align: center;
    line-height: 110px;
}

div.runbase-schedule {
    padding: 40px;
    max-width: 1160px;
    margin: 0 auto;
}

div.runbase-schedule h1.runbase-header {
    font-size: 36px;
    color: #8dc63f;
    margin: 0 0 20px 0;
}

div.runbase-schedule div.events.left {
    width: 520px;
    float: left;
}

div.runbase-schedule div.events.right {
    width: 520px;
    float: right;
}

div.runbase-schedule div.event {
    background: url('../images/runbase/cal.jpg') no-repeat top left;
    height: 177px;
    margin: 0 0 15px 0;
    position: relative;
    padding: 5px 0 0 150px;
}

div.runbase-schedule div.event-date {
    width: 132px;
    height: 177px;
    position: absolute;
    top: 0;
    left: 0;
}

div.runbase-schedule div.event-date .number {
    font-size: 120px;
    color: #fff;
    font-family: "adineuebold", Arial, Helvetica, sans-serif;
    display: block;
    text-align: center;
    line-height: 100px;
}

div.runbase-schedule div.event-date .month {
    font-size: 24px;
    color: #fff;
    font-family: 'avantgarde', Arial, Helvetica, sans-serif;
    display: block;
    text-align: center;
    line-height: 20px;
}

div.runbase-schedule div.event-date div.dow {
    font-size: 14px;
    text-transform: uppercase;
    font-style: italic;
    font-family: 'adihaus_reg', Arial, Helvetica, sans-serif;
    display: block;
    text-align: center;
    position: absolute;
    bottom: 13px;
    width: 100%;
    font-weight: 500;
}

div.runbase-schedule div.time {
    font-size: 36px;
    color: #949590;
    text-transform: uppercase;
    font-style: italic;
    font-family: 'adihaus_reg', Arial, Helvetica, sans-serif;
    font-weight: 600;
}

div.runbase-schedule div.title {
    font-size: 36px;
    color: #000;
    text-transform: uppercase;
    font-style: italic;
    font-family: 'adihaus_reg', Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 34px;
    margin: 0 0 6px;
}

div.runbase-schedule div.title.green {
    color: #8dc63f;
}

div.runbase-schedule div.name {
    font-size: 18px;
    color: #000;
    font-family: 'adihaus_reg', Arial, Helvetica, sans-serif;
    font-weight: 600;
}

div.runbase-schedule div.line {
    margin: 20px 0 0;
    background: url('../images/runbase/line.jpg') repeat-x top left;
    height: 7px;
}

.article_block_gallery {
    margin-bottom: 35px !important;
}

.article_block_gallery,
#simplegallery1 .gallerylayer {
    height: 370px !important;
}

.special-event .article_block_gallery,
.special-event #simplegallery1 .gallerylayer,
.special-event .gallerylayer,
.special-event2 .article_block_gallery,
.special-event2 #simplegallery1 .gallerylayer,
.special-event2 .gallerylayer {
    height: 560px !important;
    width: 840px !important;
}

.sidebar_content.route h1,
.sidebar_content.art_user h1,
.sidebar_content.art_route h1 {
    color: #000;
}

.element.social .ava img,
.corner_element.social .ava img {
    max-width: 49px;
    max-height: 49px;
}

.banner-rotator .desc {
    bottom: 20px !important;
    right: 20px !important;
}

.banner-rotator .desc_text_block {
    bottom: 0px !important;
    right: 0px !important;
    left: 0;
}

div.animation div.carousel-tag-line {
    height: 70px;
    /*background: #fafafa;*/
    overflow: hidden;
    margin: 3px 0 0 0;
    position: relative;
}

div.animation div.carousel-tag-line.tag-line-2 {
    margin: -4px 0 0 0;
}

div.animation div.carousel-tag-line .tag {
    position: absolute;
    font-family: "avantgarde", "Arial", "Helvetica", sans-serif;
    font-size: 72px;
    line-height: 60px !important;
}

div.animation div.carousel-tag-line .tag span {
    font-family: "adineuebold", "Arial", "Helvetica", sans-serif;
    font-size: 72px;
}

div.animation div.carousel-tag-line .tag.eng {
    font-family: "adineuebold", "Arial", "Helvetica", sans-serif;
    font-size: 78px;
}

div.corner_element.social div.animation.small-animation {
    height: 70px;
}

div.small-animation div.carousel-tag-line {
    height: 34px;
    margin: 0;
}

div.small-animation div.carousel-tag-line .tag {
    line-height: 30px !important;
    padding: 0 0 0 10px;
}

div.small-animation div.carousel-tag-line .tag span {
    font-size: 32px;
}

div.small-animation div.carousel-tag-line .tag {
    font-size: 32px;
}

div.small-animation div.carousel-tag-line .tag.eng {
    font-family: "adineuebold", "Arial", "Helvetica", sans-serif;
    font-size: 34px;
}

div.small-animation div.carousel-tag-line.tag-line-2 {
    margin: -5px 0 0 0;
}

div.animation ul li.low_size {
    font-size: 72px !important;
    line-height: 54px;
}

div.animation ul li.low_size.rus {
    font-family: 'avantgarde', Arial, Helvetica, sans-serif !important;
}

div.animation ul li.low_size.eng {
    font-family: 'adineuebold', Arial, Helvetica, sans-serif !important;
    font-size: 78px !important;
}

.info_column .runner {
    height: 135px;
    padding-left: 230px;
    background-image: url(../images/card.png);
    background-repeat: no-repeat;
    background-position: top left;
    font-size: 30px;
    color: #d2d2cd;
    line-height: 135px;
    letter-spacing: 3px;
    margin: 65px 0;
}

div.special-event p {
    width: 620px;
}

.material_body .special-event2 ul {
    margin-left: 13px;
}

.special-event2 .article_block_gallery .gallerylayer img,
.special-event .article_block_gallery .gallerylayer img {
    width: 840px !important;
    height: 560px !important;
}

div.special-event2 p, div.special-event2 li {
    width: 575px;
    line-height: 26px !important;
    text-align: left;
    margin-bottom: 5px;
}

div.special-event2 li {
    list-style: none;
    display: block;
    background: url(/design/images/li.jpg) no-repeat 0 11px;
    padding-left: 13px;
}

div.material_body div.special-event2 div.gallerystatus,
div.material_body div.special-event div.gallerystatus {
    font-size: 48px !important;
}

div.quote p {
    width: 600px;
    color: #8dc63f;
    margin-left: 20px;
    text-indent: -20px;
}

div.quote p.who {
    color: #8dc63f;
    margin-left: 40px;
    font-weight: bold;
}

a.moar {
    color: #8dc63f;
    font-style: italic;
    text-transform: uppercase;
}

div.protocol {
    border: solid 1px #8dc63f;
    padding: 30px;
    width: 560px;
}

div.protocol h1 {
    top: 0 !important;
    color: #8dc63f !important;
    font-family: "adihaus_md", Arial, Helvetica, sans-serif !important;
    font-style: italic !important;
    text-transform: uppercase !important;
    font-size: 24px !important;
    margin: 0 0 20px 0 !important;
    left: 0;
    line-height: 30px !important;
}

div.protocol a {
    color: #8dc63f;
    font-size: 20px;
}

div.protocol strong {
    color: #8dc63f;
    font-size: 30px;
    font-family: "adihaus_md", Arial, Helvetica, sans-serif !important;
    text-transform: uppercase !important;
}

div.special-event {

}

.material_body .zone {
    font-size: 45px !important;
    font-weight: bolder;
    font-family: 'avantgarde';
    margin: 23px 0 10px;
}

.material_body .zone.yel {
    color: #ffde2f;
}

.material_body .zone.gre {
    color: #8cc640;
}

.nb {
    position: relative;
    height: 370px;
}

.nb>img {
    position: absolute;
    display: block;
    margin: 0;
}

.nb1 {
    top: 74px;
    left: 62px;
    z-index: 100;
}

.nb2 {
    top: 100px;
    left: 232px;
    z-index: 100;
}

.nb3 {
    top: 80px;
    left: 510px;
}

.nb4 {
    top: 101px;
    left: 700px;
    z-index: 100;
}

.nbs {

}

.nbs1 {
    top: 51px;
    left: 139px;
    z-index: 90;
}

.nbs2 {
    top: 51px;
    left: 379px;
    z-index: 90;

}

.nbs3 {
    top: 51px;
    left: 602px;
    z-index: 90;

}

#simplegallery3 .navpanelfg img.navimages:first-of-type {
    margin-right: 82px !important;
}

#simplegallery3 .gallerystatus {
    left: 32px !important;
    width: 85px !important;
}

#simplegallery3 .navpanelfg {
    width: 155px !important;
}

.awards {
    width: 910px !important;

}

.material_body .awards-header {
    font-size: 70px !important;
    font-weight: bolder;
    font-family: 'avantgarde';
    line-height: 80px !important;
}

.awards-col {
    display: inline-block;
    width: 448px;
    margin-bottom: 40px;
}

.material_body .awards-subheader {
    font-family: "adihaus_md", Arial, Helvetica, sans-serif !important;
    font-style: italic !important;
    text-transform: uppercase;
    font-size: 23px !important;
    line-height: 50px !important;
}

.awards-li {
    height: 68px;
    display: block;
}

.material_body .awards-li-num {
    display: inline-block;
    width: 67px;
    height: 67px;
    position: relative;
    background: #8dc63f;
    vertical-align: top;
    color: #fff !important;
    font-size: 74px !important;
    line-height: 40px !important;
    font-family: "adineuebold", Arial, Helvetica, sans-serif;
    padding: 0;
    margin-bottom: 1px;
}

.awards-li-num.win {
    background: #000;
}

.material_body .awards-li-name {
    display: inline-block;
    vertical-align: top;
    line-height: 15px !important;
    padding-left: 7px;
}

.material_body .awards-li-name .time {
    line-height: 42px !important;
    font-weight: bold;
}

.banner {
    background-color: transparent !important;
}

.banner .limit {
    width: 100% !important;
    background-color: #000000;
}

.low_size span {
    font-size: 60px;
    font-family: "adineuebold", "Arial", "Helvetica", sans-serif !important;
}

.editor_area {
    background-color: #FFF9E1;
    border: 3px solid #FFF0A5;
    color: #1F1A02;
    font-family: "avantgarde", Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 120px;
    line-height: 20px;
    padding: 15px 20px;
    resize: none;
    width: 100%;
    overflow-y: auto;
}

.load_process.disabled {
    display: none;
}

.playlist_name.disabled {
    display: none;
}

.edit_preview_link.disabled {
    display: none;
}

#edit_preview img {
    max-width: 100%;
    height: auto;
}

.imgareaselect-border1,
.imgareaselect-border2,
.imgareaselect-border3,
.imgareaselect-border4 {
    background: none !important;
    border: 2px solid #FFEB1C;
}

.imgareaselect-handle {
    height: 10px !important;
    width: 10px !important;
    background-color: #FFEB1C !important;
    border: 0 none !important;
    -moz-opacity: 1.0 !important;
    -khtml-opacity: 1.0 !important;
    opacity: 1.0 !important;
    filter: alpha(opacity=100) !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -khtml-border-radius: 50%;
}

.imgareaselect-handle:nth-of-type(1) {
    border: 3px solid red !important;
}

.grey_box div.date {
    height: 45px;
    line-height: 45px;
    width: 240px;
}

.grey_box div.date span {
    top: 11px;
}

.grey_box div.date div {
    color: #6D6D6D;
    font-family: "avantgarde", "Arial", "Helvetica", sans-serif;
    font-size: 20px;
    height: 45px;
    line-height: 45px;
}

.load_area .black_button {
    background-color: #1F1A02 !important;
}

/*.load_area .black_button.load { 
    width: 170px;
}*/

.hasDatepicker {
    height: 45px;
    position: relative;
    top: -45px;
    left: -20px;
}

#ui-datepicker-div {
    width: 240px !important;
    background-color: #fff9e1 !important;
    background-image: none;
    padding: 0 !important;
    border: 0 none !important;
}

.ui-datepicker-header {
    background-image: none !important;
    background-color: #fff !important;
    border: 0 none !important;
    color: #1F1A02 !important;
    font-family: "avantgarde", "Arial", "Helvetica", sans-serif !important;
    font-size: 16px !important;
}

.ui-datepicker-title span {
    color: #1F1A02 !important;
    font-family: "avantgarde", "Arial", "Helvetica", sans-serif !important;
    font-size: 16px !important;
    font-weight: normal;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next
.ui-datepicker .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-next:hover {
    border: 0 none !important;
    top: 2px !important;
    background: none !important;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    width: 7px !important;
    height: 12px !important;
    display: inline-block !important;
    border: 0 none !important;
    background-image: url(../images/sprite.png) !important;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-top: -5px !important;
}

.ui-datepicker .ui-datepicker-prev span {
    background-position: -126px -155px;
}

.ui-datepicker .ui-datepicker-next span {
    background-position: -133px -155px;
}

.ui-state-hover,
.ui-datepicker .ui-date-picker-prev-hover,
.ui-datepicker .ui-date-picker-next-hover {
    border: 0 none !important;
}

.ui-datepicker .ui-datepicker-prev-hover {
    left: 2px !important;
}

.ui-datepicker .ui-datepicker-next-hover {
    right: 2px !important;
}

.grey_box div.date {
    z-index: 3;
}

.ui-datepicker th {
    background-color: #feef9f !important;
}

.ui-datepicker tbody tr {
    padding: 0 10px;
}

td a.ui-state-default {
    background: none !important;
    border: 0 none !important;
    color: #1F1A02 !important;
    font-weight: 400 !important;
    font-family: "adihaus_reg", Arial, Helvetica, sans-serif !important;
    text-align: center !important;
}

td a.ui-state-highlight {
    background-image: none !important;
    border: 1px solid #8DC63F !important;
    color: #1F1A02 !important;
}

td a.ui-state-active {
    background-image: none !important;
    background-color: #8DC63F !important;
    border: 0 none !important;
    color: #fff !important;
}

.ui-timepicker-div dl dt {
    color: #1F1A02 !important;
    font-weight: 400 !important;
    font-family: "adihaus_reg", Arial, Helvetica, sans-serif !important;
    padding-left: 10px;
}

.ui-timepicker-div dl dd {
    margin: 0px 10px 10px 72px !important;
}

.ui-slider-horizontal .ui-slider-handle {
    background-color: #8DC63F !important;
    border: 0 none !important;
    background-image: none !important;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current:hover,
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-close,
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-close:hover {
    color: #1F1A02 !important;
    font-weight: 400 !important;
    font-family: "adihaus_reg", Arial, Helvetica, sans-serif !important;
    color: #1F1A02 !important;
    background: url("../modules/jqueryui/css/ui-lightness/images/ui-bg_glass_100_f6f6f6_1x400.png") 50% 50% repeat-x;
    border: 1px solid #CCCCCC !important;
    -moz-opacity: 1.0 !important;
    -khtml-opacity: 1.0 !important;
    opacity: 1.0 !important;
    filter: alpha(opacity=100) !important;
}

#map-canvas {
    max-width: 100% !important;
    width: 100% !important;
}

div.done, div.i_want {
    height: 54px;
    line-height: 54px;
    color: #1F1A02;
    font-family: "avantgarde", "Arial", "Helvetica", sans-serif;
    font-size: 18px;
    position: absolute;
    bottom: 85px;
    padding: 0 10px 0 12px;
    cursor: pointer;
}

div.done span,
div.i_want span {
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    margin-right: 5px;
    width: 15px;
    display: inline-block;
    position: relative;
}

div.done {
    background-color: #8DC63F;
    left: 20px;
}

div.done span {
    height: 13px;
    background-position: -158px -135px;
}

div.i_want {
    background-color: #FFEB1C;
    left: 180px;
}

div.i_want span {
    height: 18px;
    top: 3px;
    background-position: -158px -117px;
}

.grey_sidebar {
    position: absolute;
    margin-left: 20px;
}

.grey_box .combo.error .current,
.grey_box .date.error {
    color: #e74c3c;
    border-bottom-color: #e74c3c;
}

.grey_box .date.error div {
    color: #e74c3c;
}

.grey_box div.date.error span {
    background-position: -147px -296px;
}

.grey_box .combo.error .arrow {
    border-top-color: #e74c3c;
}

.grey_box .yellow_input.error,
.grey_box .yellow_textarea.error {
    border-color: #e74c3c;
}

.person_box .social a.vk {
    width: 23px;
}

.load_area .img_area {
    overflow: hidden;
}

.section ul.tabs {
    margin-top: 445px;
}

#edit_preview {
    width: 680px !important;
    /*width: 905px !important;*/
}

#edit_preview .image_preview_block {
    float: right;
    overflow: hidden;
    height: 200px;
    width: 200px;
}

#edit_preview img {
    max-width: 600px !important;
}

.element.check {
    border-color: #8DC63F !important;
}

.load_area.priview .img_area {
    width: 260px;
    height: 260px;
}

.load_area.main_img .img_area {
    width: 425px;
    height: 260px;
}

.grey_sidebar {
    width: 260px !important;
}

.grey_sidebar.sidebar_article_draft .add_point {
    font-size: 24px;
    line-height: 25px;
    margin-top: 20px;
}

.themodal-overlay {
    z-index: 999999;
}

.editor_area,
.editor_area p,
.editor_area span,
.editor_area a,
.editor_area i,
.editor_area em,
.editor_area strong,
.editor_area u,
.editor_area p span,
.editor_area ul,
.editor_area ol,
.editor_area li,
.editor_area li span,
.editor_area div {
.editor_area b {
    font-family: "adihaus_reg", "Arial", "Helvetica", sans-serif;
    color: #000000;
    font-size: 20px !important;
    line-height: 28px !important;
}

.editor_area ol,
.editor_area ul {
    margin-left: 20px;
    margin-bottom: 30px;
}

.editor_area ul li {
    list-style: square;
    display: list-item;
}

.label.red {
    cursor: pointer;
}

.material_body img {
    max-width: 880px;
}

.grey_box .top_panel .ico.mark_list span {
    background-position: -158px -105px;
    height: 12px;
    top: 4px;
}

.sidebar_content .title_img img.lines {
    bottom: -80px;
}

div#tranings {
    width: 560px;
}

div#tranings h1 {
    font-size: 24px;
    font-family: "adihaus_md", Arial, Helvetica, sans-serif;
    font-weight: normal;
    top: 0;
    color: #8bc832;
    margin: 60px 0 20px 0;
    text-transform: uppercase;
    font-style: italic;
    line-height: normal;
    left: 0;
}

div#tranings h1:first-child {
    margin: 0 0 20px 0;
}

div#tranings h2 {
    font-size: 20px;
    font-family: "adihaus_md", Arial, Helvetica, sans-serif;
    font-weight: bold;
    top: 0;
    margin: 20px 0 3px;
    padding: 0;
    font-style: normal;
    line-height: normal;
    left: 0;
    text-transform: none;
}

div#tranings ul {
    margin: 10px 0 0 30px;
}

div#tranings ul li {
    list-style: none;
    margin: 0 0 4px 0;
    text-align: left;
    line-height: 24px !important;
}

div#tranings p {
    margin: 0 0 4px 0;
    text-align: left;
    line-height: 24px !important;
}

div#tranings p span.green {
    color: #8bc832;
}

/*.message_container.in_dialog.hasmessage {
    height: 700px;
    overflow-x: auto;
}*/

.modal.write_message_box .combo.error .current {
    border-bottom-color: #E74C3C;
    color: #E74C3C;
}

#write_massage form textarea.error {
    border-color: #E74C3C;
}

div.iaaf a.iaaf-button {
    display: none !important;
}

.iaaf .tags .chm_photo {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 0 15px 15px 0;
}

.iaaf .tags .chm_photo img {
    max-width: 150px;
    max-height: 150px;
}

div.iaaf {
    background: none !important;
}

section.content.iaaf {
    background-image: url(../images/iaaf_full_bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
}

section.content.iaaf .ornament {
    position: absolute;
    top: 0;
    right: 0;
}

div.iaaf {
    padding: 0 !important;
}

div.iaaf div.iaaf-desc p,
div.iaaf div.iaaf-stars div.iaaf-star div.iaaf-star-desc div.iaaf-star-country,
div.iaaf div.iaaf-stars div.iaaf-star div.iaaf-star-desc div.iaaf-star-date,
div.iaaf div.iaaf-stars div.iaaf-star div.iaaf-star-desc p {
    font-family: "adihaus_reg", "Arial", "Helvetica", sans-serif !important;
}

div.iaaf div.iaaf-stars div.iaaf-star div.iaaf-star-desc {
    left: 275px !important;
}

#del_dialog {
    display: none;
}

.iaaf-desc .column {
    display: inline-block;
    float: left;
    width: 49.9%;
}

.message_container.in_dialog .message_point:hover {
    border-color: transparent;
}

.message_container .message_point .massage_text {
    word-wrap: break-word;
}

.grey_panel {
    margin-top: 0;
    top: 20px;
}

.box.form_parent {
    position: relative;
    padding-bottom: 260px;
}

.new_message {
    /* position: absolute;
     padding-bottom:25px;*/
    position: fixed;

}

.new_message textarea {
    height: 85px;
}

.new_message .add_photo {
    margin-top: 25px;
}

.new_message .send {
    margin-top: 10px;
}

header .bottom_part div.n_box.black {
    background-color: #8DC63F;
}

header .bottom_part div.n_box.green,
header .bottom_part div.login {
    margin: 0 1px;
}

header .bottom_part div.n_box {
    font-family: "adihaus_reg", "Arial", "Helvetica", sans-serif;
    font-size: 14px;
    cursor: default;
}

header .bottom_part div.login .ava {
    height: 34px;
    width: 34px;
    top: 0;
    left: -10px;
    margin-right: 0;
}

header .bottom_part div.login .ava img {
    height: 34px;
    width: 34px;
    max-width: 34px;
}

.grey_sidebar {
    padding: 20px 22px 25px;
}

.grey_sidebar .add_point.routh span {
    height: 24px;
    width: 24px;
    top: 4px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    background-position: 0 -363px;
}

.grey_sidebar .add_point.routh:hover span {
    background-position: -24px -363px;
}

.grey_sidebar .add_point.moder span {
    height: 24px;
    width: 24px;
    top: 4px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    background-position: -49px -363px;
}

.grey_sidebar .add_point.moder:hover span {
    background-position: -49px -387px;
}

.grey_sidebar .add_point.edit span {
    height: 24px;
    width: 24px;
    top: 4px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    background-position: 0 -387px;
}

.grey_sidebar .add_point.edit:hover span {
    background-position: -24px -387px;
}

.write_message {
    margin-top: 0;
    position: relative;
    top: 20px;
}

header .bottom_part div.login_logout {
    right: 0;
}

.element.goods .img_box .white_shadow div.disabled {
    color: green;
    cursor: default;
}

div.article_empty_image {
    background-color: #8DC63F;
    height: 260px;
    width: 260px;
}


div.runbase div.runbase-event div.date-time div.time{
    left:280px!important;
}

div.runbase div.runbase-events div.runbase-event div.date-time {
    width:390px!important;
}

div.runbase div.runbase-events div.runbase-event div.desc {
    padding-left:400px!important;
    padding-right: 215px!important;
}

div.runbase div.runbase-event div.date-time div.month {
    text-transform: lowercase;
}

div.runbase div.runbase-events div.runbase-event div.desc div.title {
    text-overflow:ellipsis;
    overflow:hidden;
    white-space: nowrap;
}

.material_body .video_title{
    font-family: "adihaus_md", "Arial", "Helvetica", sans-serif;
    margin:55px 0 20px;
}

.material_body .video_desc{
    font-size:18px!important;
    color:#949590!important;
    margin:20px 0 30px;
}

.material_body .playlist_title{
    font-family: "adihaus_md", "Arial", "Helvetica", sans-serif;
    margin:30px 0 20px;
}

.section .tabs li.current{
    cursor: default;
}

form.registration .control input[type=text], 
form.registration .control input[type=password]{
    line-height:20px;
    padding:15px;
}

.login_form .control input[type=text], 
.login_form .control input[type=password]{
    line-height:20px;
    padding:11px 20px;
}
.route_sort .combo li.current {
    width: 152px;
}

.element.route{
     height:310px!important;
}

.element.route a.title, 
.corner_element.route a.title{
     margin-bottom:10px;
}

.element.route .sub_info, 
.corner_element.route .sub_info {
     margin:0;
     position: absolute;
     left:12px;
     bottom:12px;
}

#map-canvas{
     height:700px!important;
}