@charset "UTF-8";
/* CSS Document */

.article_block_gallery {
  position: relative;
  /*keep this intact*/
  visibility: hidden;
  /*keep this intact*/
  overflow: visible!important;
  margin: 75px 0 20px; }



.article_block_gallery .navpanellayer {
  position: relative!important;
  top: -45px!important;
  display: block!important; }

.article_block_gallery .gallerylayer {
  width: 560px;
  height: 560px;
  overflow: hidden; }

.article_block_gallery .gallerylayer img {
  display: block;
  margin: 0 auto; }
  
  
form.registration .control.file .img_box {
    max-height: 100px;
    max-width: 100px;
    width:auto;
    height:auto;
}

form.registration .control.social_button a.black p.text,
form.registration .control.social_button a.black  {
    color: white;
    font-family: "adineuebold",Arial,Helvetica,sans-serif;
    font-size: 18px;
    padding: 0;
    line-height:60px;
    text-align: center;
}

form.registration .control.social_button a.vk p.text,
form.registration .control.social_button a.vk {
    font-family: "avantgarde",Arial,Helvetica,sans-serif;
}

form.registration .control.social_button a.black p.text{
    height:60px;
    line-height:60px;
    margin-bottom:0;
}

form.registration .control.social_button a p.text {
    font-size: 18px;
    line-height:inherit;
}

#vk_like1,
.fb-like,
#fb-root, 
.g-plusone,
#tw-button1{
    display:inline-block;
    float:left;
}



.fb-like{
    padding-right:20px;
}

/*---------------------------------------*/

.material_body,
.material_body a,
.material_body i,
.material_body em,
.material_body strong,
.material_body u,
.material_body p span,
.material_body ul,
.material_body ol,
.material_body li,
.material_body li span,
.material_body div {
    font-family: "adihaus_reg", "Arial", "Helvetica", sans-serif;
    color: #000000;
    font-size: 20px!important;
    line-height: 28px!important;
}

.material_body ol,
.material_body ul{
     margin-left:20px;
     margin-bottom:30px;
}


.material_body ul li{
    list-style: disc;
    display: list-item;
}

.material_body div {
    position: relative;
}

.material_body p{
    margin-bottom:30px;
    text-align: justify; 
    font-size: 20px!important;
    line-height: 28px!important;   
}

.material_body img{
    margin:15px 0;
    display:block;
}

.material_body h1,
.material_body h2,
.material_body h3,
.material_body h4,
.material_body h5,
.material_body h6{
    font-family: "adihaus_reg", "Arial", "Helvetica", sans-serif;
    color: #000000;
}

/*---------------------------------------------*/

body.tiny_editor,
body.tiny_editor a,
body.tiny_editor i,
body.tiny_editor em,
body.tiny_editor strong,
body.tiny_editor u,
body.tiny_editor ul,
body.tiny_editor ol,
body.tiny_editor p span,
body.tiny_editor li,
body.tiny_editor div {
    font-family: "adihaus_reg", "Arial", "Helvetica", sans-serif;
    color: #000000;  
    font-size: 20px!important;
    line-height: 28px!important;
}

body.tiny_editor ul,
body.tiny_editor ol{
    margin-left:45px;
    margin-bottom:30px;
}

body.tiny_editor ul li{
    list-style: disc;
    display: list-item;
}

body.tiny_editor div {
    position: relative;
}

body.tiny_editor p{
    margin-bottom:30px;
    text-align: justify; 
    font-size: 20px!important;
    line-height: 28px!important;   
}

body.tiny_editor img{
    margin:15px 0;
    display:block;
}

body.tiny_editor h1,
body.tiny_editor h2,
body.tiny_editor h3,
body.tiny_editor h4,
body.tiny_editor h5,
body.tiny_editor h6{
    font-family: "adihaus_reg", "Arial", "Helvetica", sans-serif;
    color: #000000;
}


/*-------------------------------------------*/

.gallery_name {
    font-size: 24px!important;
    color:#b2b2b2!important;
}


.banner-rotator .inner-bg {
    top:20px!important;
}

.banner-rotator .inner-text div span.text_box {
    width:510px!important;
}

.desc_text_block{
    right:0!important;
    bottom:0px!important;
}

.banner-rotator .inner-text {
    padding:5px 35px!important;
}

.banner-rotator .thumbnails li{
    width:auto!important;
    margin-right:0!important;
    position: relative;
    text-align: left;
    margin-right:5px!important;
}

.banner-rotator .thumbnails li .lines_block{
    width:10px!important;
    height:10px!important;
    background-image: url(../images/slider_arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent!important;
    display:block!important;
    padding:0!important;
    position: relative;
    display:inline-block;
    float:right;
    top:5px;
    margin-left:5px;
    border:0 none!important;
}

.banner-rotator .thumbnails li:last-of-type .lines_block{
    display:none!important;
}

.element {
  cursor:pointer;
}
.element .event, .quote {
  cursor: default;
}

.material_body{
    z-index: 10;
    position: relative;
}


/*------------------------------------------------*/
section.content{
    padding-top:10px;
}

h2 {
    margin-bottom:15px;
    padding-left: 18px;
}

form.registration .control {
margin-bottom: 17px;
}

form.registration .control.file label {
    margin-top:14px;
}

.combo {
    width:145px;
}

.combo .current {
    padding:0 10px;
    height:44px;
    line-height:44px;
}

.combo .arrow {
right: 8px;
top: 22px;
}

form.registration .control.year {
margin-top: -6px;
}

form.registration .button_area {
    padding-right:20px;
}

form.registration .button_area input[type=submit] {
padding: 0 35px 0 15px;
text-align: left;
}

form.registration .button_area input[type=reset]{
    padding:0 14px;
}

form.registration .button_area label.accept {
padding: 0 40px 0 5px;
}

form.registration .registration_column {
    margin-bottom:0;
}

form.registration .control > label {
    padding-left:3px;
}

form.registration .control.day{
    margin-top:-4px;
}

input.send_mail{
    padding:0 38px 0 12px;
    background-position: 111px 21px;
}

form.registration .control.remember_pass{
    margin-bottom: 2px;
}

h2.remember_pass{
    margin-bottom:26px;
}

header .bottom_part div.login{
    padding:0 10px!important;
}

form.registration .registration_column.login_social{
    width:303px;
}

h2.login_title{
    margin-bottom:27px;
}

form.registration .link_area{
    top:15px;
    left:5px;
}

form.registration .link_area a{
    line-height:16px;
}

form.registration input[type=submit].login_submit{
    height:60px;
    line-height:60px;
    padding: 0 40px 0 17px;
    background-position: 67px 21px;
}

form.registration .registration_column.login_social .control label{
    margin-bottom:18px;
}

form.registration .login_social a.fb span, 
form.registration .login_social a.vk span, 
form.registration .login_social a.tw span{
    top:13px;
    left:15px;
}

form.registration .login_social a.fb, 
form.registration .login_social a.vk, 
form.registration .login_social a.tw{
    padding-left:11px;
}

.info_column .name {
    position: relative;
}

.personal_soc_ico{
    height:32px;
    width:115px;
    position: absolute;
    right: -165px;
    top: 17px;
}

.personal_soc_ico a{
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    float: left;
    display: inline-block;
}

          
.personal_soc_ico a.vk {
  background-position: -126px -59px; }
.personal_soc_ico a.fb {
  background-position: -126px -91px; margin:0 10px 0 4px; }
.personal_soc_ico a.tw {
  background-position: -126px -123px; }
  
.info_column .info{
    line-height:32px;
}

.photo_column{
    margin-right:15px;
}

.info_column .runner{
   margin: 82px 0 65px 0px;  
}

.info_column a.edit{
    width:276px;
    margin-left: 5px;
    padding: 0 30px 0 15px;
    background-position: 245px 21px;
}

h2.edit_profile_title{
    margin-bottom:22px;
}

form.registration .control.social_button label{
    margin-left: -4px;
    line-height:34px;
}

form.registration .control.social_button.edit_social{
    padding-top:79px;
}

form.registration .control.social_button{
    margin-bottom:37px;
}

form.edit_profile .control > label{
    padding-left:0;
}

form.edit_profile .control.sex label.sex_label{
    text-transform: uppercase;
}

form.edit_profile .control.sex > label{
    margin-bottom:7px;
}

form.edit_profile .control.day{
    padding-top: 28px;
}

form.edit_profile .fix_edit .control > label{
    padding-left:5px;
}
.tags strong{
    cursor:pointer;
}
.sort ul li:after {
    content: "";
}
.edit_profile .img_place.has_avatar{
    background-image: none;
}

.edit_profile .img_place div.text{
   font-family: "avantgarde",Arial,Helvetica,sans-serif;
    font-size: 18px;
}


.sidebar_content .title_img img.main{
    margin:0;
}

h1 {
    line-height:72px;
}

.comment_area .comment_point .name, 
.comment_area .comment_point .date {
    font-family: "adihaus_md", Arial, Helvetica, sans-serif;
    font-weight:normal;
}


.material_body a {
    text-decoration:underline;
}

.material_body p * {
     color: #000000;
     font-size: 24px;
}

form.registration .control.sex label.sex_label {
    text-transform: uppercase;
}

form.registration .control.sex label.sex_label:last-of-type { 
margin-left: 10px;
}

form.registration .control.day input,
form.registration .control.year input { 
    text-align: left;
}

.gallerystatus { 
    color: #D2D2CD!important;
    font-family: "adineuebold", "Arial", "Helvetica", sans-serif!important;
    font-size: 48px!important;
}


.social_boxes div.container { 
    bottom: -25px;
    left: 50%;
    margin-left: -45px;
    width: auto;
}


.social_boxes div.gp div.container {
    width:65px;
    margin-left:-25px;
}

.sidebar_content .title_img img.main{
    max-height: 100%;
}

.navpanelfg img.navimages {
    display:inline-block;
    margin:0!important;
    top:-2px!important;
}

.gallerystatus {
    top:0!important;
}

.gallery_name {
    top:60px!important;
}

.corner-stamp.social .title {
    line-height:30px;
}

.element.social.no_photo .ava{
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    filter:alpha(opacity=0);
}

.element.social.no_photo .name{
    display: inline-block;
    left: 100px;
    position: relative;
    top: -30px;
}

.element.social.no_photo.wide .name {
    left:250px;
    top:-28px;
}

.hashgtag_box div.animation {
    font-family: "adineuebold", "Arial", "Helvetica", sans-serif!important;
    font-size: 72px;
    height: 72px;
    line-height: 72px;
}
.combo.active .current {
    background-color: #FFF0A5;
    border: 0 none;
}

#container_blog_top{
    margin-bottom:20px;
}

#top_blog_more{
    margin-top:0;
}

.element.art_inspirate.active,
.corner_element.art_inspirate.active {
    border-color: #8dc63f; 
}

.element.route.active, 
.element.art_user.active, 
.element.art_route.active, 
.element.social.active,
.corner_element.route.active,
.corner_element.art_user.active,
.corner_element.art_route.active,
.corner_element.social.active {
    border-color: #ffeb1c; 
}

.element.art_master.active,
.corner_element.art_master.active {
    border-color: #1f1a02; 
}

#content_1{
    position: relative;
    top:-10px;
}

.cell.second .animation{
    width:320px;
    height:110px;
    position: absolute;
    left:650px;
    top:50%;
    margin-top:-55px; 
    overflow: hidden;   
}

.cell.second .animation img{
    display:block;
    margin:0 auto!important;
    top:0!important;
    left:0!important;    
}

.banner-rotator .screen a{
    display:block;
    width:560px;
    height:560px;
    position: relative;
}

#simplegallery1 {
    background: transparent!important;
}


.article_block_gallery .navpanellayer .navpanelbg {
  display: none!important;
  opacity: 0!important; }
  
  
.article_block_gallery .gallerydesctext{
    display:block!important;
    opacity:1.0!important;
    text-align: right;
    font-family: "adihaus_reg", "Arial", "Helvetica", sans-serif;
    line-height: 28px;
    color: #B2B2B2 !important;
    font-size: 24px !important;
}

.gallerydescbg{
    background: none!important;
}

.gallerydesc{
    position: relative!important;
    top:-90px!important;
    right:0!important;
}

.gallery_name {
    display:none!important;
}

/*--------------------------------------*/
.element.art_inspirate:hover{
    border-color: #1f1a02; 
}

.element.art_inspirate .sub_info .likes span,
.corner_element.art_inspirate .sub_info .likes span {
    background-position: 0 0; 
}

.element.art_inspirate .sub_info .comments span,
.corner_element.art_inspirate .sub_info .comments span {
    background-position: -13px 0; 
}

.element.art_inspirate .lines,
.corner_element.art_inspirate .lines {
    background-position: 0 0;
    width: 270px;
    left: -8px; 
}

.element.art_inspirate .lines:after,
.corner_element.art_inspirate .lines:after {
      content: "";
      border-bottom: 7px solid white;
      border-left: 7px solid transparent;
      border-top:0 none;
      position: absolute;
      bottom: 0;
      right: 0; 
}

.element.art_inspirate .lines:before,
.corner_element.art_inspirate .lines:before {
      content: "";
      border-top: 6px solid white;
      border-right: 6px solid transparent;
      position: absolute;
      top: 0;
      left: 0; 
}
/*--------------------------------------*/
/*--------------------------------------*/
.element.art_master:hover{
    border-color: #8dc63f;
}

.element.art_master .sub_info .likes span,
.corner_element.art_master .sub_info .likes span {
    background-position: -26px 0;
}

.element.art_master .sub_info .comments span,
.corner_element.art_master .sub_info .comments span {
    background-position: -39px 0; 
}

.element.art_master .lines,
.corner_element.art_master .lines {
    background-position: 0 -21px;
    width: 270px;
    left: -1px; 
}

.element.art_master .lines:after,
.corner_element.art_master .lines:after {
      content: "";
      border-top: 7px solid white;
      border-left: 7px solid transparent;
      position: absolute;
      top: 0;
      right: 0;
}

.element.art_master .lines:before,
.corner_element.art_master .lines:before {
      content: "";
      border-bottom: 6px solid white;
      border-right: 6px solid transparent;
      border-top: 0 none;
      position: absolute;
      bottom: 0;
      left: 0; 
}

.short_text{
    overflow: hidden;   
    position: relative; 
}

.short_text:after{
     content:"";
    position: absolute;
    bottom:-15px;
    left:0;
    height:12px;
    width:100%;
    -moz-box-shadow: 0 -1px 10px #fff;
    -webkit-box-shadow: 0 -1px 10px #fff;
    box-shadow: 0 -5px 10px 5px #fff; 
}

form.registration .control.social_button a,
form.registration .control.social_button a.vk p.text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

header .top_part div.search form.search{
    height:20px;
    top:24px;
}

header .top_part div.search form.search input[type="text"]{
    height:20px;
}

header .top_part div.search form.search input[type="button"]{
    top:3px;
}

form.registration .control.social_button a.vk p.text{
    padding-right:15px;
}

.photo_column {
    cursor: default;
}

.photo_column img {
    margin:0 auto;
}

.route_title .local .flag{
    width:15px;
    height:17px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    background-position: -158px -59px;
    position: absolute;
    top:7px;
    left:2px;
}

.micoach_box .micoach_point .button { 
    background-color: #8DC63F;
}
.sidebar_content .social_box{
    z-index:60;
}
.edit_profile .img_place img {
    max-height: 256px;
}

.login_form input[type="button"] {
    background-color: #1F1A02;
    background-image: url("../images/arrow_white.png");
    background-position: 72px 13px;
    background-repeat: no-repeat;
    color: white;
    display: inline-block;
    float: right;
    font-family: "avantgarde",Arial,Helvetica,sans-serif;
    font-size: 18px;
    height: 44px;
    line-height: 44px;
    margin-top: 5px;
    padding: 0 45px 0 20px;
    text-align: left;
    border: 0 none;
    cursor: pointer;
}

.sidebar_content.event .registration {
    background-position: 220px 22px;
}

.hashgtag_box h1 {
    color:#1F1A02;
}

.hashgtag_box {
    padding:20px!important;
}

.hashgtag_box p {
    font-size:20px;
}

header .top_part div.logo a.logo { 
background-color: transparent;
background-image: url("../images/logo.png");
background-position: center;
background-repeat: no-repeat;
display: block;
height: 46px;
margin: 0px auto;
position: relative;
top: 15px;
width: 179px;
}

.sort ul{
    margin-left:10px;
}


.banner-rotator .thumbnails li { 
    margin-right: 7px !important;
}

.banner-rotator .thumbnails li .lines_block { 
margin-left: 7px;
}

.element .sub_info div, 
.corner_element .sub_info div { 
padding-right: 15px;
}

.route_title .route_length .lines:before{
    border-right: 6px solid transparent;
    border-top: 6px solid white;
    content: "";
    left: 0px;
    position: absolute;
    top: 0px; 
}


.route_title .route_length .lines:after{
    border-bottom: 7px solid white;
    border-left: 7px solid transparent;
    bottom: 0px;
    content: "";
    position: absolute;
    right: 0px;
}

.route_title .route_length span {
    top:79px;
}

.route_sort .combo {
position: relative;
top: -6px;
}

.combo.disabled .current { 
background-color: transparent!important;
border-bottom: 3px solid #D6D6D6!important;
}

.route_sort .combo .current{
    padding:0 20px;
}

.route_sort .combo ul{
    padding-top:5px;
}

.route_sort .combo .arrow{
    right:18px;
}

div.content div.cell.first img {
    margin-top: -153px;
}

div.content div.cell.third .button_box .title {
    line-height:45px;
}

div.content div.cell.third .button_box {
    margin-top:-111px;
}
