.banner-rotator,
.wt-rotator{
font-family:Arial,Helvetica,sans-serif;
font-size:14px;
background:none;
background-color:#000;
border:1px solid #000;
position:relative;
width:0;
height:0;
overflow:hidden;
}
.banner-rotator img{
max-width:none;
max-height:none;
}
.banner-rotator a{
outline:none;
}
.banner-rotator .screen{
position:relative;
top:0;
left:0;
width:825px;
height:300px;
overflow:hidden;
}
.banner-rotator .strip{
display:block;
position:absolute;
top:0;
left:0;
z-index:0;
overflow:hidden;
}
.banner-rotator .content-box{
visibility:hidden;
position:absolute;
top:0;
left:0;
overflow:hidden;
}
.banner-rotator .content-box img{
display:block;
}
.banner-rotator .main-img{
display:none;
position:absolute;
top:0;
left:0;
z-index:0;
border:0;
max-width:none;
max-height:none;
}

.banner-rotator .desc{
position:absolute;
color:#FFF;
z-index:6;
overflow:hidden;
visibility:hidden;
text-align:left;
}
.banner-rotator .inner-bg{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
z-index:0;
}
.banner-rotator .inner-text{
position:relative;
top:0;
left:0;
padding:10px;
width:auto;
height:auto;
z-index:1;
}
.banner-rotator .c-panel{
position:absolute;
top:0;
z-index:8;
visibility:hidden;
}
.banner-rotator .outer-hp,
.banner-rotator .outer-vp{
position:absolute;
background:#333;
border:1px solid #000;
}
.banner-rotator .outer-hp{
left:0;
width:100%;
border-left:none;
border-right:none;
}
.banner-rotator .outer-vp{
top:0;
height:100%;
border-top:none;
border-bottom:none;
}
.banner-rotator .back-scroll,
.banner-rotator .fwd-scroll{
position:absolute;
top:0;
left:0;
z-index:10;
}
.banner-rotator .thumbnails,
.banner-rotator .buttons{
display:inline;
position:relative;
float:left;
overflow:hidden;
}
.banner-rotator .thumbnails ul{
position:relative;
list-style:none;
margin:0;
padding:0;
}
.banner-rotator .thumbnails ul.inside{
position:absolute;
top:0;
left:0;
}
.banner-rotator .thumbnails li{
position:relative;
list-style:none;
display:inline;
float:left;
overflow:hidden;
width:24px;
height:24px;
line-height:24px;
text-align:center;
color:#EEE;
text-shadow: 0 1px 0 #222;
border:1px solid #111;
cursor:pointer;
font-size:12px;
font-weight:bold;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
}
.banner-rotator .thumbnails li:hover{
color:#FFF;

}
.banner-rotator .thumbnails li.curr-thumb{
color:#000;
text-shadow: 0 1px 0 #fff;
cursor:default;
}
.banner-rotator .thumbnails li.image{
background:#000;
-moz-border-radius:0;
-webkit-border-radius:0;
border-radius:0;
}
.banner-rotator .thumbnails li.image.curr-thumb,
.banner-rotator .thumbnails li.image:hover{
border-color:#06F;
}
.banner-rotator .thumbnails li.image a{
display:block;
border:0;
}
.banner-rotator .thumbnails li.image a img{
display:block;
border:0;
position:absolute;
-moz-opacity:.85;
opacity:0.85;
max-width:none;
max-height:none;
}
.banner-rotator .thumbnails li.image:hover a img{
-moz-opacity:1;
opacity:1;
}
.banner-rotator .thumbnails li.image.curr-thumb a img{
-moz-opacity:1;
opacity:1;
cursor:default;
}
.banner-rotator .thumbnails li *{
display:none;
}
.banner-rotator .thumbnails li div{
position:relative;
top:0;
left:0;
color:#FFF;
background-color:#000;
width:0;
height:0;
padding:10px;
z-index:0;
}

.rotator-tooltip{
position:absolute;
top:0;
left:0;
z-index:99999;
display:none;
overflow:hidden;
width:auto;
height:auto;
}
.rotator-tooltip.txt-up{
margin-left:-10px;
margin-bottom:5px;
}
.rotator-tooltip.txt-down{
margin-left:-10px;
margin-top:24px;
}

.rotator-tooltip .tt-txt{
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
color:#FFF;
background-color:#000;
padding:5px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
margin:8px 0;
overflow:hidden;
}
.rotator-tooltip .img-frame{
position:relative;
background-color:#000;
border:#000 solid 3px;
margin:8px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;
overflow:hidden;	
}
.rotator-tooltip img.tt-img{
z-index:-1;
display:none;
position:relative;
max-width:none;
max-height:none;
}
.banner-rotator .s-prev,
.banner-rotator .s-next{
position:absolute;
top:0;
width:40px;
height:100%;
cursor:pointer;
-moz-opacity:.8;
opacity:.8;
z-index:7;
}
.banner-rotator .s-prev{
left:0;
background-position:0 center;
}
.banner-rotator .s-next{
left:100%;
margin-left:-40px;
background-position:-40px center;
}
.banner-rotator .s-prev:hover,
.banner-rotator .s-next:hover{
-moz-opacity:1;
opacity:1;
background-color:transparent !important;
}
.banner-rotator .block,
.banner-rotator .vpiece,
.banner-rotator .hpiece{
position:absolute;
z-index:2;
}