@charset "UTF-8";
.route_canvas{
     height:700px!important;
     position: absolute!important;
     left: 0;
     top:0;
     z-index: 1;
}

.route_lines{
     position: absolute!important;
     width:100%;
     height:360px;
     top:465px;
     z-index: 2;
}

section.content{
     position: relative;
}

.soc_cont{
     display: inline-block;
     float:left;
     width:620px;
}

.sidebar_content .social_box .author {
     display:inline-block;
     margin:0;
     width:200px;
     height:40px;
     line-height:40px;
     overflow: hidden;
     position: relative;
     top:-10px;
}

.sidebar_content .social_box .author img {
     top:0;
}

.element.route .route_length, 
.corner_element.route .route_length {
     font-size:151px;
}

div.runbase div.runbase-event div.date-time div.time{
    left:280px!important;
}

div.runbase div.runbase-events div.runbase-event div.date-time {
    width:390px!important;
}

div.runbase div.runbase-events div.runbase-event div.desc {
    padding-left:400px!important;
    padding-right: 215px!important;
}

div.runbase div.runbase-event div.date-time div.month {
    text-transform: lowercase;
}

div.runbase div.runbase-events div.runbase-event div.desc div.title {
    text-overflow:ellipsis;
    overflow:hidden;
    white-space: nowrap;
}