div.iaaf {
  width: 1200px;
  min-height: 3000px;
  margin: 0 auto;
  background: url('../images/iaaf/bg.jpg') no-repeat top center;
  padding: 16px;
  position: relative;
  color: #132d6d;
}
div.iaaf div.iaaf-title {
  padding: 36px 0 0 0;
  font-size: 238px;
  font-family: "adineuebold", Arial, Helvetica, sans-serif;
  color: #fff !important;
  line-height: 100%;
}
div.iaaf div.iaaf-subtitle {
  font-size: 36px;
  font-family: "avantgarde", Arial, Helvetica, sans-serif;
  color: #132d6d;
  line-height: 125%;
}
div.iaaf div.iaaf-social {
  height: 170px;
}
div.iaaf div.iaaf-desc {
  margin: 0 0 65px 0;
}
div.iaaf div.iaaf-desc p {
  font-size: 20px;
  color: #132d6d;
  font-family: "adihaus_md", Arial, Helvetica, sans-serif;
  width: 560px;
  line-height: 120%;
}
div.iaaf a.iaaf-button {
  display: block;
  position: absolute;
  background: url('../images/iaaf/button.png') no-repeat top center;
  width: 392px;
  height: 64px;
  top: 980px;
  left: 620px;
  z-index: 10;
}
div.iaaf span.adineue {
  font-family: "adineuebold", Arial, Helvetica, sans-serif;
  font-size: 36px;
  color: #132d6d;
}
div.iaaf div.iaaf-cities {
  margin: -6px 0 83px 0;
  background: url('../images/iaaf/cities.png') no-repeat top center;
  width: 1164px;
  height: 249px;
}
div.iaaf div.iaaf-stars {
  margin: 48px 0 0 0;
}
div.iaaf div.iaaf-stars div.iaaf-star {
  width: 560px;
  float: left;
  position: relative;
  height: 394px;
}
div.iaaf div.iaaf-stars div.iaaf-star:nth-child(odd) {
  width: 580px;
  margin: 0 20px 0 0;
}
div.iaaf div.iaaf-stars div.iaaf-star div.iaaf-star-desc {
  position: absolute;
  left: 305px;
  top: 0;
}
div.iaaf div.iaaf-stars div.iaaf-star div.iaaf-star-desc div.iaaf-star-name {
  font-size: 24px;
  color: #132d6d;
  font-family: "adihaus_md", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-style: italic;
  margin: -6px 0 0 0;
}
div.iaaf div.iaaf-stars div.iaaf-star div.iaaf-star-desc div.iaaf-star-country {
  font-size: 20px;
  color: #132d6d;
  font-family: "adihaus_md", Arial, Helvetica, sans-serif;
}
div.iaaf div.iaaf-stars div.iaaf-star div.iaaf-star-desc div.iaaf-star-date {
  font-size: 20px;
  color: #132d6d;
  font-family: "adihaus_md", Arial, Helvetica, sans-serif;
  margin: 0 0 14px 0;
}
div.iaaf div.iaaf-stars div.iaaf-star div.iaaf-star-desc p {
  font-size: 20px;
  color: #132d6d;
  font-family: "adihaus_md", Arial, Helvetica, sans-serif;
}
div.iaaf div.iaaf-event {
  width: 600px;
  float: left;
}
div.iaaf div.iaaf-event div.iaaf-calend {
  float: left;
  width: 132px;
  height: 177px;
  background: url('../images/iaaf/calend1.png') no-repeat top center;
}
div.iaaf div.iaaf-event div.iaaf-calend.calend-2 {
  background: url('../images/iaaf/calend2.png') no-repeat top center;
}
div.iaaf div.iaaf-event div.iaaf-calend.calend-2 div.iaaf-date {
  font-size: 50px;
  margin: 35px 0 5px 0;
  line-height: 50px;
}
div.iaaf div.iaaf-event div.iaaf-calend div.iaaf-date {
  font-size: 120px;
  font-family: "adineuebold", Arial, Helvetica, sans-serif;
  color: #16306c;
  text-align: center;
  line-height: 90px;
  margin: 5px 0 0 0;
}
div.iaaf div.iaaf-event div.iaaf-calend div.iaaf-month {
  font-size: 24px;
  font-family: "avantgarde", Arial, Helvetica, sans-serif;
  color: #16306c;
  text-align: center;
  margin: 0 0 24px 0;
}
div.iaaf div.iaaf-event div.iaaf-calend div.iaaf-day {
  font-size: 14px;
  font-family: "adihaus_reg", "Arial", "Helvetica", sans-serif;
  color: #16306c;
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
}
div.iaaf div.iaaf-event div.iaaf-desc {
  width: 420px;
  margin: 0 0 0 20px;
  float: left;
}
div.iaaf div.iaaf-event div.iaaf-desc div.iaaf-time {
  font-size: 24px;
  font-family: "adihaus_reg", "Arial", "Helvetica", sans-serif;
  color: #fff;
  font-style: italic;
  margin: 0 0 16px 0;
}
div.iaaf div.iaaf-event div.iaaf-desc div.iaaf-event-title {
  font-size: 24px;
  font-family: "adihaus_reg", "Arial", "Helvetica", sans-serif;
  color: #16306c;
  font-style: italic;
  text-transform: uppercase;
  margin: 0 0 14px 0;
}
div.iaaf div.iaaf-event div.iaaf-desc div.iaaf-event-title span.neuebold {
  font-size: 24px;
  font-family: "adihaus_md", "Arial", "Helvetica", sans-serif;
  color: #16306c;
  font-style: italic;
  text-transform: uppercase;
}
div.iaaf div.iaaf-event div.iaaf-desc div.iaaf-event-subtitle {
  font-size: 18px;
  font-family: "adihaus_reg", "Arial", "Helvetica", sans-serif;
  color: #16306c;
}
