@charset "UTF-8";
/* CSS Document */

header .top_part div.search form.search input[type="text"] {
     max-width:150px;
     font-family: "Arial", "Helvetica", sans-serif;
}

.login_form .control .error{
    background-color: #000;
}

.banner-rotator .outer-hp, 
.banner-rotator .outer-vp {
    background-color: #fff!important;
    filter:none!important;
}

.bg_box{
    background-image: none!important;
    background-color: transparent!important;
}

.promo_lines{
     background-color: transparent!important;
     -moz-opacity: 0.5;        
     filter:alpha(opacity=50);
}

.sidebar_content .social_box .author {
    width:190px;
}

.navpanelfg img.navimages{
    display:none;
}

.micoach_box .micoach_point .img_box img{
    position: relative;
    top:5%;
}

.micoach_box .micoach_point.ie_last .img_box img{
    position: relative;
    top:30%;
}

.shadow{
    background-image: url(../images/shadow.png);
    background-repeat: repeat;
    background-position: center;
}

.edit_profile .photo_edit {
    width:20%!important;
}


.edit_profile .img_place {
    width:auto;
    margin:0 auto;
}

.edit_profile .registration_column {
    width:29%!important;
    max-width:260px!important;
}

form.registration .control.sex label.second {
    margin-left:15px;
}

.page_404 img.img_404 {top:234px;}

.bg_box{
    background: none;
    display:none;
}

input[type="password"] {
    letter-spacing: 4px;
}

.limit {width:1200px!important;}

.micoach_box .micoach_point .button { 
background-color: #C1D82E;
}

.promo_lines,
.bg_box  {
    background: none!important;
    background-color: transparent!important;
    background-image: none!important;
}

.banner-rotator .inner-text div span.text_box {
    color: #000!important;
}

form.registration .control input[type=text], 
form.registration .control input[type=password]{
    padding-top:17px;
    font-family: Arial, sans-serif!important;
}

input[type=password]{
    font-family: Arial, sans-serif!important;
}

header .bottom_part ul li{
    padding: 0 16px;
}