@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: 'adihaus_reg';
    src: url('../fonts/adhcyrrg_-webfont.eot');
    src: url('../fonts/adhcyrrg_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/adhcyrrg_-webfont.woff') format('woff'),
         url('../fonts/adhcyrrg_-webfont.ttf') format('truetype'),
         url('../fonts/adhcyrrg_-webfont.svg#adihaus_cyr_regregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'adineuebold';
    src: url('../fonts/adineue-bold-webfont.eot');
    src: url('../fonts/adineue-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/adineue-bold-webfont.woff') format('woff'),
         url('../fonts/adineue-bold-webfont.ttf') format('truetype'),
         url('../fonts/adineue-bold-webfont.svg#adineuebold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'avantgarde';
    src: url('../fonts/avg65c-webfont.eot');
    src: url('../fonts/avg65c-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avg65c-webfont.woff') format('woff'),
         url('../fonts/avg65c-webfont.ttf') format('truetype'),
         url('../fonts/avg65c-webfont.svg#avantgardegothiccdemi') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'adihaus_md';
    src: url('../fonts/adhcyrmd_-webfont.eot');
    src: url('../fonts/adhcyrmd_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/adhcyrmd_-webfont.woff') format('woff'),
         url('../fonts/adhcyrmd_-webfont.ttf') format('truetype'),
         url('../fonts/adhcyrmd_-webfont.svg#adihaus_cyr_mdregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Reset
-------------------------------------------------------------- */
*{
margin:0;
padding:0;
font-family: 'adihaus_reg', Arial, Helvetica, sans-serif;
font-size:14px;
color: #1f1a02;
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
}

html, body {
    height: 100%;
    background-color: #FFF;
}

a{
    text-decoration:none;
    border:0 none;
}

img{
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

.layout{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 0 -220px 0; 
    padding: 0;
    position: relative;
}

.footer-push {
    height: 220px;
    margin:0 auto;
}

footer {
    height: 190px;
}

h1{
    font-family: 'avantgarde', Arial, Helvetica, sans-serif;
    font-size:72px;
    line-height:60px; 
}

h2{
    font-size:24px;
    color:#000;
    font-style: italic;
    text-transform: uppercase;
    font-weight:normal;
    margin:15px 0 20px;
    padding-left:20px;
}

h3{
    font-family: 'avantgarde', Arial, Helvetica, sans-serif;
    font-size:32px;
    color:#000;
    line-height:30px;
    margin:0;
}

p{
  font-size:24px;
  color:#000; 
  line-height:24px;
  margin-bottom:15px; 
}

.limit{
    margin:0 auto;
}



/* Form fields (edit)
-------------------------------------------------------------- */
input[type=submit]{
     cursor: pointer;
     border:0 none;
}

.checkbox {
	width: 25px;
	height: 25px;
	background: url(../images/checkbox.png) no-repeat;
	display: inline-block;
	clear: left;
	float: left;
	cursor:pointer;
    margin:2px 5px 0 0;
}

/* Tables
--------------------------------------------------------------
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  float:none !important;
}

table, th, td {
  vertical-align: middle;
}

tr:nth-child(even) td {
  background-color: transparent;
} */

/* Lists
-------------------------------------------------------------- */
ul li{    
    display: inline-block;
    *display: inline;
    list-style: none;
    *zoom:1;
}

/* Other
-------------------------------------------------------------- */
:focus   { outline: 0; }
.left    { float: left !important; }
.right   { float: right !important; }

sub, sup {
  position: relative;
  font-size: 75%!important;
  line-height: 0;
  vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em;}

.first     { margin-left:0; padding-left:0; }
.last      { margin-right:0; padding-right:0; }
.top       { margin-top:0; padding-top:0; }
.bottom    { margin-bottom:0; padding-bottom:0; }




/* if needed (alerts, tooltips, tabs)
--------------------------------------------------------------
--------------------------------------------------------------
--------------------------------------------------------------*/



/* Success, info, and error/alert boxes
-------------------------------------------------------------- 
.error,
.success,
.info    { padding: 0.8em; margin-bottom: 1em; border: 2px solid #ddd; }

.error   { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.success { background: #e6efc2; color: #264409; border-color: #c6d880; }
.info    { background: #d5edf8; color: #205791; border-color: #92cae4; }
-------------------------------------------------------------- */

/* Tooltip
-------------------------------------------------------------- 
.tooltip::after {
    background: rgba(0, 0, 0, 0.75);
    border-radius:3px;
    color: #FFF;
    content: attr(data-tooltip);
    font-family: Tahoma, Arial, sans-serif;
    font-size: 13px;
    line-height: 15px;
    color:#fff; 
    font-weight: normal;
    margin-top: 0px;
    opacity: 0; 
    padding: 3px 7px;
    position: absolute;
    visibility: hidden; 
    z-index: 10;      
    margin: 30px 0 0;      
    transition: all 0.4s ease-in-out; 
}

      
.tooltip:hover::after {
    opacity: 1; 
    visibility: visible;
}

.tooltip::before{
    content: url(../images/tooltip_arrow.png);
    width:14px;
    height:12px;
    opacity: 0; 
    position: absolute;
    visibility: hidden; 
    margin:15px 0 0 12px;
}

.tooltip:hover::before {
    opacity: 1; 
    visibility: visible;
}
------------------------------------------------------------ */


/* Tabs
-------------------------------------------------------------- 
.section {
	width: 100%;
}
ul.tabs {
	height: 49px;
	line-height: 49px;
	list-style: none;
	border: 1px solid #b6b5b1;
	background: #FFF;
    border-radius:3px;  
    -webkit-border-radius:3px; 
    -moz-border-radius:3px;
    -khtml-border-radius:3px; 
}
.tabs li {
    height: 47px;
	line-height: 47px;
	float: left;
	display: inline;
	padding: 0 10px;
	font-family: Tahoma, Arial, sans-serif;
    font-size: 15px;
    color:#434342;
	cursor: pointer;
	position: relative;
    border-right: 1px solid #b6b5b1;
}

.tabs li:hover {
	font-family: Tahoma, Arial, sans-serif;
    font-size: 15px;
    color:#b31e24;
    text-decoration: underline;
}

.tabs li.current {
	color: #fff;
	background-color: #434342;
}

.box {
	display: none;
}

.box.visible {
	display: block;
}
--------------------------------------------------------------*/