div.runbase {
    max-width: 1160px;
    margin: 0 auto;
    min-height: 700px;
    div.runbase-slider-container {
        margin: 0 0 20px;
        max-width: 1160px;
        height: 439px;
        position: relative;
        overflow: hidden;
        div.runbase-slider {
            width: 10000px;
            height: 439px;
            margin: 0;
            div.runbase-slider-item {
                position: relative;
                width: 100%;
                max-width: 1160px;
                height: 439px;
                float: left;
            }
            @media screen and (max-width: 1219px) {
                div.runbase-slider-item {
                    max-width: 900px;
                }
            }
        }
    }
    div.runbase-slider-pages-container {
        position: relative;
        div.runbase-slider-pages {
            position: absolute;
            top: 444px;
            z-index: 100;
            div.runbase-slider-page {
                float: left;
                font-size: 24px;
                color: #b2b2b2;
                cursor: pointer;
                padding: 0 3px;
                font-family:"adineuebold", Arial, Helvetica, sans-serif;
                &.active {
                    color: #ffeb1c;
                }
            }
            div.runbase-slider-page-arrow {
                float: left;
                font-size: 24px;
                color: #b2b2b2;
                font-family:"adineuebold", Arial, Helvetica, sans-serif;
            }
        }
    }
    div.runbase-slide-text {
        background: url('../images/runbase/index/slide-text.jpg') no-repeat top right;
        height: 439px;
        // p {
        //     font-family:"avantgarde", Arial, Helvetica, sans-serif;
        //     color: #ffeb1c;
        //     font-size: 37px;
        //     line-height: 100%;
        //     span {
        //         font-family:"avantgarde", Arial, Helvetica, sans-serif;
        //         font-size: 37px;
        //         line-height: 100%;
        //         color: #fff;
        //     }
        //     &.runbase-slide-text-final {
        //         font-family:"adihaus_reg", Arial, Helvetica, sans-serif;
        //         color: #fff;
        //         text-transform: uppercase;
        //         font-style: italic;
        //         font-size: 32px;
        //     }
        // }
        // @media screen and (max-width: 1219px) {
        //     p {
        //         line-height: 120%;
        //         font-size: 28px;
        //         span {
        //             line-height: 110%;
        //             font-size: 28px;
        //         }
        //         &.runbase-slide-text-final {
        //             font-size: 24px;
        //         }
        //     }
        // }
    }
    div.runbase-slide1 {
        height: 439px;
        background: url('../images/runbase/index/slide1.jpg') no-repeat top center;
    }
    div.runbase-slide2 {
        height: 439px;
        background: url('../images/runbase/index/slide2.jpg') no-repeat top center;
    }
    div.runbase-slide3 {
        height: 439px;
        background: url('../images/runbase/index/slide3.jpg') no-repeat top center;
    }
    div.runbase-promo {
        width: 100%;
        max-width: 1160px;
        background: url('../images/runbase/index/promo-bg.jpg') no-repeat top right;
        height: 439px;
        margin: 0 auto;
        position: relative;
        div.promo-text {
            width: 280px;
            position: absolute;
            top: 60px;
            left: 30px;
            ul {
                margin-bottom: 15px;
            }
            p, li {
                font-size: 22px;
                font-family:"avantgarde", Arial, Helvetica, sans-serif;
                color: #fff;
                line-height: 125%;
            }
            li {
                list-style: disc;
                list-style-position: outside;
                display: list-item;
                margin: 0 0 5px 24px;
            }
        }
        @media screen and (max-width: 1219px) {
            div.promo-text {
                top: 290px;
                left: 20px;
                width: 350px;
                p, li {
                    font-size: 16px;
                    margin: 0 0 6px 0;
                }
                li {
                    list-style: disc;
                    list-style-position: outside;
                    display: list-item;
                    margin: 0 0 3px 20px;
                }
                ul {
                    margin: 0 0 6px;
                }
            }
        }
        div.promo-features {
            position: absolute;
            right: -10px;
            top: 180px;
            width: 800px;
            div.promo-feature {
                color: #fff;
                width: 120px;
                float: left;
                margin: 0 40px;
            }
        }
    }
    div.runbase-event {
        width: 370px;
        margin: 40px 0 0 0;
        float: left;
        div.date-time {
            height: 90px;
            background: #8dc63f;
            position: relative;
            div.number {
                font-size: 116px;
                font-family:"adineuebold", Arial, Helvetica, sans-serif;
                color: #fff;
                line-height: 62px;
                margin: 0 0 0 -2px;
            }
            div.month {
                position: absolute;
                top: 16px;
                left: 125px;
                font-size: 30px;
                font-family:"avantgarde", Arial, Helvetica, sans-serif;
                color: #fff;
            }
            div.dow {
                position: absolute;
                top: 50px;
                left: 125px;
                font-size: 18px;
                font-family:"adihaus_md", Arial, Helvetica, sans-serif;
                color: #000;
            }
            div.time {
                position: absolute;
                top: 25px;
                left: 260px;
                font-family:"adihaus_md", Arial, Helvetica, sans-serif;
                color: #fff;
                font-style: italic;
                background: url('../images/runbase/index/clock.png') no-repeat 0 3px;
                padding: 0 0 0 22px;
                font-size: 24px;
                line-height: 24px;
            }
        }
        div.title, div.title a {
            font-family:"adihaus_reg", Arial, Helvetica, sans-serif;
            color: #000;
            font-size: 24px;
            text-transform: uppercase;
            font-style: italic;
            margin: 26px 0 0 0;
        }
        div.name {
            color: #808080;
            background: url('../images/runbase/index/boot.png') no-repeat 0 3px;
            padding: 0 0 0 24px;
            margin: 8px 0 0 0;
        }
    }
    div.runbase-register {
        display: none;
        background: url('../images/runbase/index/register-bg.jpg') no-repeat center;
        width: 479px;
        height: 323px;
        margin: -115px 40px 0 0;
        position: relative;
        float: right;
        padding: 56px 30px 0;
        div.header {
            font-size: 30px;
            font-family:"avantgarde", Arial, Helvetica, sans-serif;
        }
        div.date-time {
            margin: 60px 0 40px;
            div.combo {
                width: 170px;
                display: inline-block;
                margin: 0 18px 0 0;
                div.current {
                    border-color: #000;
                }
                &:hover div.current {
                    background: #fff9e1;
                }
                ul {
                    background: #fff9e1;
                }
            }
        }
        input.button {
            background-color: #1F1A02;
            background-image: url("../images/runbase/index/yellow-arrow.png");
            background-position: 234px 15px;
            background-repeat: no-repeat;
            color: white;
            display: inline-block;
            font-family:"avantgarde", Arial, Helvetica, sans-serif;
            font-size: 20px;
            height: 52px;
            line-height: 50px;
            padding: 0 45px 0 20px;
            text-align: left;
            border: 0 none;
            cursor: pointer;
        }
    }
    div.runbase-events {
        div.runbase-event {
            position: relative;
            float: none;
            width: 100%;
            margin: 0 0 20px 0;
            div.date-time {
                position: absolute;
                top: 0;
                left: 0;
                width: 370px;
            }
            div.desc {
                padding: 0 0 0 390px;
                width: 100%;
                height: 90px;
                border: solid 2px #f2f2f2;
                div.title {
                    margin: 14px 0 0 0;
                }
            }
            a.reserve {
                display: none;
                background: url('../images/runbase/index/reserve.png') no-repeat top left;
                position: absolute;
                top: 24px;
                right: 20px;
                color: #8dc63f;
                padding: 0 0 0 50px;
                height: 42px;
                font-size: 16px;
                font-family:"avantgarde", Arial, Helvetica, sans-serif;
                width: 175px;
            }
            &:hover a.reserve {
                display: block;
            }
        }
    }
}
div.runbase-menu {
    padding: 0 0 16px;
    a {
        display: inline-block;
        font-size: 20px;
        color: #bbbcb8;
        margin: 0 30px 0 0;
        font-family:"adihaus_md", Arial, Helvetica, sans-serif;
        border-bottom: solid 3px #e6e6e6;
        padding: 0 0 10px 0;
        &:first-child {
            font-size: 22px;
            font-family:"adineuebold", Arial, Helvetica, sans-serif;
        }
        &.active {
            color: #000;
            border-bottom: solid 3px #000;
        }
    }
}
div.runbase-card {
    height: 911px;
    position: relative;
    background: url('../images/runbase/card/card-bg.jpg') no-repeat top left;
    div.runbase-card-social {
        top: 600px;
        position: absolute;
        display: inline-block;
        width: 600px;
        margin: 70px 0 0 50px;
        div {
            float: left;
            width: 100px;
        }
    }
    div.runbase-card-promo {
        top: 720px;
        left: 20px;
        position: absolute;
        width: 860px;
        height: 200px;
        div.text {
            width: 860px;
            p {
                font-size: 48px;
                font-family:"avantgarde", Arial, Helvetica, sans-serif;
                color: #000;
                line-height: 105%;
                &.subtitle {
                    font-family:"adihaus_md", Arial, Helvetica, sans-serif;
                    color: #000;
                    font-size: 18px;
                }
            }
        }
    }
}
div.runbase-get-card {
    padding: 0 0 0 20px;
    width: 1160px;
    div.runbase-get-card-left {
        width: 560px;
        float: left;
        background: url('../images/runbase/card/steps-get.jpg') no-repeat 0 80px;
        min-height: 1000px;
        padding: 0 0 0 70px;
    }
    div.runbase-get-card-right {
        width: 560px;
        float: right;
        background: url('../images/runbase/card/steps-social.jpg') no-repeat 0 170px;
        min-height: 882px;
        padding: 0 0 0 70px;
    }
    h2 {
        margin: 0 0 40px -90px;
    }
    li {
        font-size: 18px;
        line-height: 125%;
        margin: 15px 0 23px;
    }
    a {
        font-size: 18px;
        color: #8dc63f;
        text-decoration: underline;
    }
    p.grey {
        font-size: 18px;
        color: #808080;
        line-height: 125%;
        margin: -16px 0 0 -70px;
    }
}
div.card-features {
    padding: 50px 0 0 20px;
    margin: 0 0 50px 0;
    max-width: 1190px;
    overflow: hidden;
    div.card-feature {
        width: 370px;
        margin: 0 1% 0 0;
        height: 190px;
        float: left;
        padding: 0 0 0 100px;
        background-position: top left;
        background-repeat: no-repeat;
        a {
            font-size: 14px;
            color: #8dc63f;
            font-family:"adihaus_md", Arial, Helvetica, sans-serif;
            text-decoration: underline;
        }
        div.title {
            font-size: 18px;
            color: #000;
            font-family:"avantgarde", Arial, Helvetica, sans-serif;
            margin: 16px 0 18px 0;
        }
        p {
            font-size: 14px;
            color: #808080;
            font-family:"adihaus_md", Arial, Helvetica, sans-serif;
            line-height: 125%;
            width: 250px;
        }
        &.feature-1 {
            background-image: url('../images/runbase/card/feature-1.png');
        }
        &.feature-2 {
            background-image: url('../images/runbase/card/feature-2.png');
        }
        &.feature-3 {
            background-image: url('../images/runbase/card/feature-3.png');
        }
        &.feature-4 {
            background-image: url('../images/runbase/card/feature-4.png');
        }
        &.feature-5 {
            background-image: url('../images/runbase/card/feature-5.png');
        }
        &.feature-6 {
            background-image: url('../images/runbase/card/feature-6.png');
        }
        @media screen and (max-width: 1219px) {
            & {
                width: 430px;
                margin: 0 20px 0 0;
                p {
                    width: 300px;
                }
            }
        }
    }
}
div.notification {
    background: #e6e6e6;
    padding: 30px;
    margin: 0 0 40px;
    h1 {
        font-size: 32px;
        line-height: 100%;
        margin: 0 0 12px 0;
        span {
            font-family:"adineuebold", Arial, Helvetica, sans-serif;
            font-size: 34px;
        }
    }
    p {
        font-size: 20px;
        width: 650px;
        margin: 0 0 9px 0;
        line-height: 22px;
        &.bold {
            font-family:"adihaus_md", Arial, Helvetica, sans-serif;
            margin-top: 18px;
        }
    }
}
div.runbase-contacts {
    position: relative;
    div.runbase-map-container {
        width: 100%;
        height: 608px;
        position: relative;
        div.runbase-map {
            width: 100%;
            height: 608px;
        }
        div.map-over {
            background: url("../images/runbase/contacts/map-over.png") repeat-x top left;
            width: 100%;
            height: 120px;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1000;
        }
    }
    div.text {
        position: relative;
        z-index: 1001;
        margin: -20px 0 0 0;
        div.title {
            background: url("../images/runbase/contacts/pin.png") no-repeat 0 16px;
            font-size: 40px;
            color: #000;
            font-family:"avantgarde", Arial, Helvetica, sans-serif;
            padding: 0 0 16px 34px;
            @media screen and (max-width: 1219px) {
                & {
                    font-size: 28px;
                    background-position: 0 9px;
                }
            }
        }
        div.phone {
            background: url("../images/runbase/contacts/phone.png") no-repeat 0 38px;
            font-size: 26px;
            color: #000;
            font-family:"avantgarde", Arial, Helvetica, sans-serif;
            padding: 0 0 20px 34px;
        }
        p {
            font-size: 14px;
            font-family:"adihaus_md", Arial, Helvetica, sans-serif;
            line-height: 125%;
            width: 500px;
        }
    }
    div.send {
        width: 360px;
        height: 300px;
        background: #fbe71b;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 20px;
        z-index: 1002;
        h1 {
            line-height: 100% !important;
            margin: 8px 0 24px 0;
            font-size: 24px;
        }
        textarea {
            width: 100%;
            height: 120px;
            padding: 15px;
            background: #fff9e1;
            color: #000;
            font-family:"avantgarde", Arial, Helvetica, sans-serif;
            font-size: 16px;
            border: 0;
            margin: 0 0 22px;
        }
        input.button {
            background-color: #1F1A02;
            background-image: url("../images/runbase/index/yellow-arrow.png");
            background-position: 127px 15px;
            background-repeat: no-repeat;
            color: white;
            display: inline-block;
            font-family:"avantgarde", Arial, Helvetica, sans-serif;
            font-size: 20px;
            height: 52px;
            line-height: 50px;
            padding: 0 45px 0 20px;
            text-align: left;
            border: 0 none;
            cursor: pointer;
        }
    }
}
div.shadow div.bind-card {
    width: 591px;
    height: 505px;
    background: url("../images/runbase/index/card-needed.png") no-repeat center;
    padding: 220px 68px 70px;
    margin-top: -200px;
    position: relative;
    p {
        line-height: 21px;
        font-size: 18px;
        font-family:"adihaus_md", Arial, Helvetica, sans-serif;
        color: #000;
        margin: 0 0 20px;
        text-align: left;
        b {
            font-size: 20px;
            font-family:"adihaus_md", Arial, Helvetica, sans-serif;
        }
        &.bold {
            line-height: 26px;
            font-size: 22px;
            font-family:"avantgarde", Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
        span {
            font-family:"adineuebold", Arial, Helvetica, sans-serif;
            font-size: 22px;
        }
    }
    span.close {
        top: -43px;
        right: 0;
        position: absolute;
        width: 95px;
        height: 33px;
        line-height: 33px;
        color: #fff;
        font-family:"adihaus_md", Arial, Helvetica, sans-serif;
        font-size: 14px;
        background: url("../images/runbase/index/close.png") no-repeat 60px 0;
        display: block;
        text-align: left;
        cursor: pointer;
        &:hover {
            background-position: 60px -33px;
        }
    }
}
div.limit-width-fix {
    width: 100% !important;
}
div.runbase-articles-container {
    width: 105%;
}
@media screen and (max-width: 900px) {
    div.runbase-articles-container {
        width: 100%;
    }
}
