<h2>Изменить пароль</h2> 
<form onsubmit="return jphp('/auth/remember/change', this)" class="registration new_pass"> <!-- новый класс new_pass -->
    <div class="registration_column">                            
        <div class="control">
            <label>пароль</label>
            <input name="password" type="password" />
            <div class="error"></div>
        </div>
        <div class="control">
            <label>повторите пароль</label>
            <input name="password2" type="password"/>
            <div class="error"></div>
        </div>

            <input type="hidden" name="hash" value="<?= $this->hash ?>">
     
        

        <input type="submit" value="сохранить" class="login_submit new_pass_submit" />
        <div style="clear: both;"></div>
    </div>
    <div style="clear: both;"></div>
</form>