<h2 class="remember_pass">ВВЕДИТЕ e-mail, чтобы восстановить пароль</h2> 
<form onsubmit="return jphp('/auth/remember/save', this)" class="registration">
    <div class="registration_column">
        <div class="control remember_pass">
            <label>e-mail</label>
            <input name='email' type="text" placeholder="e-mail" />
            <div class="error"></div>                                
        </div>            
        <input type="submit" value="отправить" class="send_mail" /> 
    </div> 
    <div style="clear: both;"></div>                        
</form> 