body {
    position: relative;
}

div.hints-over {
    width: 100%;
    height: 100%;
    position: absolute;
    display:none;
    top: 0;
    left: 0;
    background: url('../images/over.png') repeat top left;
    z-index: 10000;

    a.yellow{
        background-color: rgb(255, 235, 28);
        border-bottom-color: rgb(31, 26, 2);
        border-bottom-style: none;
        border-bottom-width: 0px;
        border-image-outset: 0px;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: rgb(31, 26, 2);
        border-left-style: none;
        border-left-width: 0px;
        border-right-color: rgb(31, 26, 2);
        border-right-style: none;
        border-right-width: 0px;
        border-top-color: rgb(31, 26, 2);
        border-top-style: none;
        border-top-width: 0px;
        box-sizing: border-box;
        color: rgb(31, 26, 2);
        cursor: auto;
        display: block;
        font-family: avantgarde, Arial, Helvetica, sans-serif;
        font-size: 18px;
        height: 70px;
        line-height: 70px;
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        text-align: center;
        text-decoration: none;
        width: 199.796875px;
        zoom: 1;
    }

    a.green{
        background-color: rgb(141, 198, 63);
        border-bottom-color: rgb(31, 26, 2);
        border-bottom-style: none;
        border-bottom-width: 0px;
        border-image-outset: 0px;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: rgb(31, 26, 2);
        border-left-style: none;
        border-left-width: 0px;
        border-right-color: rgb(31, 26, 2);
        border-right-style: none;
        border-right-width: 0px;
        border-top-color: rgb(31, 26, 2);
        border-top-style: none;
        border-top-width: 0px;
        box-sizing: border-box;
        color: rgb(31, 26, 2);
        cursor: auto;
        display: block;
        font-family: avantgarde, Arial, Helvetica, sans-serif;
        font-size: 18px;
        height: 70px;
        line-height: 70px;
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        text-align: center;
        text-decoration: none;
        width: 199.796875px;
        zoom: 1;
    }

    a.black{
        background-color: rgb(255, 255, 255);
        border-bottom-color: rgb(255, 255, 255);
        border-bottom-style: none;
        border-bottom-width: 0px;
        border-image-outset: 0px;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: rgb(255, 255, 255);
        border-left-style: none;
        border-left-width: 0px;
        border-right-color: rgb(255, 255, 255);
        border-right-style: none;
        border-right-width: 0px;
        border-top-color: rgb(255, 255, 255);
        border-top-style: none;
        border-top-width: 0px;
        box-sizing: border-box;
        color:  rgb(31, 26, 2);
        cursor: auto;
        display: block;
        font-family: avantgarde, Arial, Helvetica, sans-serif;
        font-size: 18px;
        height: 70px;
        line-height: 70px;
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        text-align: center;
        text-decoration: none;
        width: 199.796875px;
        zoom: 1; 
    }

    a.submenu{
        border-bottom-color: rgb(255, 255, 255);
        border-bottom-style: solid;
        border-bottom-width: 3px;
        border-image-outset: 0px;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: rgb(255, 255, 255);
        border-left-style: none;
        border-left-width: 0px;
        border-right-color: rgb(255, 255, 255);
        border-right-style: none;
        border-right-width: 0px;
        border-top-color: rgb(255, 255, 255);
        border-top-style: none;
        border-top-width: 0px;
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        cursor: auto;
        display: inline-block;
        font-family: adihaus_md, Arial, Helvetica, sans-serif;
        font-size: 14px;
        height: 34px;
        line-height: 31px;
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
        zoom: 1;
        opacity: 0;
    }

    div.addClone{
        background: url('../images/add.png') no-repeat center #fff;
        box-sizing: border-box;
        color: rgb(31, 26, 2);
        cursor: pointer;
        display: block;
        float: right;
        font-family: adihaus_reg, Arial, Helvetica, sans-serif;
        font-size: 14px;
        height: 34px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0px;
        position: relative;
        width: 44px;
        z-index: 3;
        zoom: 1;
    }
}

body div.hints-over .clone {
    position: absolute;
    z-index: 10004;
    opacity: 0;
}

div.hints-logo {
	position: absolute;
	width: 179px;
	height: 46px;
    background: url('../images/logo.png') no-repeat top center;	
}

div.hints-arrow-left {
	position: absolute;
	width: 34px;
	height: 58px;
    background: url('../images/arrow-left.png') no-repeat top center;	
    top: 50%;   
    left: 40px; 
    cursor: pointer;  
    z-index: 10001;   
    opacity: 0.3;
    transition-property: opacity;  
    transition-duration: 0.3s;

    &.disabled{
        opacity: 0;
        cursor: default;

        &:hover{
            opacity: 0;
        } 
    }

    &:hover{
        opacity: 1;
    }     
}

div.hints-arrow-right {
	position: absolute;
	width: 34px;
	height: 58px;
    background: url('../images/arrow-right.png') no-repeat top center;	
    top: 50%;
    right: 40px;  
    cursor: pointer;  
    z-index: 10001;  
    opacity: 0.3;
    transition-property: opacity;  
    transition-duration: 0.3s;

    &:hover{
        opacity: 1;
    }
}

div.hints-pages {
    position: absolute;
    top: 90%;
    width: 100%;
    text-align: center;
    cursor: default;
    z-index: 10002;  

    div.hints-page {
        width: 10px;
        height: 10px;
        background: url('../images/dot.png') no-repeat top center; 
        display: inline-block;
        margin: 0 10px;
        //cursor: pointer;        

        &.active{
            background: url('../images/dot-active.png') no-repeat top center;             
        }

        &:hover{
            background: url('../images/dot-hover.png') no-repeat top center;             
        }
    }
}

div.hints-close{
    background: url('../images/close.png') no-repeat top center;   
    width: 230px;
    height: 23px;  
    position: absolute;
    cursor: pointer;
    z-index: 10005;
}

div.hints-slide{    
    position: absolute;
    opacity: 0;

    &.hints-slide-1{
        background: url('../images/slide1.png') no-repeat center; 
        width: 100%;         
    }

    &.hints-slide-2{
        background: url('../images/slide2.png') no-repeat center; 
        width: 293px;   
        height: 289px;
    }

    &.hints-slide-3{
        background: url('../images/slide3.png') no-repeat center; 
        width: 303px;   
        height: 265px;   
    }

    &.hints-slide-4{
        background: url('../images/slide4.png') no-repeat center; 
        width: 276px;   
        height: 265px;   
    }   

    &.hints-slide-5{
        background: url('../images/slide5.png') no-repeat center; 
        width: 291px;   
        height: 267px;   
    }   

    &.hints-slide-6{
        background: url('../images/slide6.png') no-repeat center; 
        width: 286px;   
        height: 242px;   
    }    

    &.hints-slide-7{
        background: url('../images/slide7.png') no-repeat center; 
        width: 299px;   
        height: 265px;   
    } 

    &.hints-slide-8{
        background: url('../images/slide8.png') no-repeat center; 
        width: 286px;   
        height: 239px;   
    } 

    &.hints-slide-9{
        background: url('../images/slide9.png') no-repeat center; 
        width: 341px;   
        height: 245px;   
    } 

    &.hints-slide-10{
        background: url('../images/slide10.png') no-repeat center; 
        width: 297px;   
        height: 239px;   
    }

    &.hints-slide-11{
        background: url('../images/slide11.png') no-repeat center; 
        width: 292px;   
        height: 287px;   
    } 

    &.hints-slide-12{
        background: url('../images/slide12.png') no-repeat center; 
        width: 100%;      
    }                         
}