<div class="sort">
    <!--<div class="title">Сортировать</div>-->
    <ul>
         <li class="current" onclick="updateStrip('id')">Новые</li>
         <li onclick="updateStrip('rate')">Популярные</li>
    </ul>
</div>
<script type="text/javascript">
    MenuNavigator.setCurrentMenu('<?echo $this->url(array(), 'trainings')?>');
	defaultPaginator = new Paginator('/materials/trainings/blockmaterials');
	function updateStrip(order) {
		defaultPaginator.resetPage();
		defaultPaginator.setParam('sort', order)
		defaultPaginator.getMaterials(true);
	}

</script>
                    
                    

<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div id="container">  
    <?= $this->action('blockmaterials', 'trainings', 'materials')?>
</div>