.jcarousel-skin-sollux .jcarousel-container {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
   border-radius: 1px;
    
    
}

.jcarousel-skin-sollux .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-sollux .jcarousel-container-horizontal {
    width: auto;
    padding: 10px 50px;
    height: 179px;
}

.jcarousel-skin-sollux .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-sollux .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-sollux .jcarousel-clip-horizontal {
    width:  auto;
    height: 300px;
}

.jcarousel-skin-sollux .jcarousel-clip-vertical {
    width:  75px;
    height: 245px;
}

.jcarousel-skin-sollux .jcarousel-item {
    width: 210px;
    height: 715px;
}

.jcarousel-skin-sollux .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin-sollux .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-sollux .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-sollux .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-sollux .jcarousel-next-horizontal {
    position: absolute;
    top: 43px;
    right: 5px;
    width: 37px;
    height: 36px;
    cursor: pointer;
      background-image: url(/design/images/sprite.png);
      background-position: -36px -53px;
      background-repeat: no-repeat;
      background-color: transparent;
}

.jcarousel-skin-sollux .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(prev-horizontal.png);
}

.jcarousel-skin-sollux .jcarousel-next-horizontal:hover,
.jcarousel-skin-sollux .jcarousel-next-horizontal:focus {
    background-image: url(/design/images/sprite.png);
        background-position: -108px -53px;
        background-repeat: no-repeat;
        background-color: transparent;
}

.jcarousel-skin-sollux .jcarousel-next-horizontal:active {
    background-image: url(/design/images/sprite.png);
        background-position: -108px -53px;
        background-repeat: no-repeat;
        background-color: transparent;
}

.jcarousel-skin-sollux .jcarousel-next-disabled-horizontal,
.jcarousel-skin-sollux .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-sollux .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-sollux .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-sollux .jcarousel-prev-horizontal {
    position: absolute;
    top: 43px;
    left: 5px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    left: 0;
      background-image: url(/design/images/sprite.png);
      background-position: 0px -53px;
      background-repeat: no-repeat;
      background-color: transparent;
}

.jcarousel-skin-sollux .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(next-horizontal.png);
}

.jcarousel-skin-sollux .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-sollux .jcarousel-prev-horizontal:focus {
    background-position: -72px -53px;
}

.jcarousel-skin-sollux .jcarousel-prev-horizontal:active {
    background-position: -72px -53px;
}

.jcarousel-skin-sollux .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-sollux .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-sollux .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-sollux .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: 0px -53px;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-sollux .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-sollux .jcarousel-next-vertical:hover,
.jcarousel-skin-sollux .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-sollux .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-sollux .jcarousel-next-disabled-vertical,
.jcarousel-skin-sollux .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-sollux .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-sollux .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-sollux .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-sollux .jcarousel-prev-vertical:hover,
.jcarousel-skin-sollux .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-sollux .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-sollux .jcarousel-prev-disabled-vertical,
.jcarousel-skin-sollux .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-sollux .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-sollux .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}
