<?= $this->partial('header.tpl')?> 
    <?= $this->partial('headmenu.tpl')?> 
          <section class="content iaaf"> 
                <img src="/design/images/ornament1.png" alt="img" class="ornament" />   	
                <div class="limit">
                    <?= $this->layout()->content ?> 
                </div>      
            <!-- footer-push -->
            <div class="footer-push"><div class="limit"></div></div>
        </section>
    

<?= $this->partial('footer.tpl')?> 