.load_mask{
    background-color: #CCCCCC;
    position: absolute;
    opacity: 0.2;
}
div.image_block .image img {
    width: 100px;
    height: 100px;
}
div.image_block .image a {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    margin-top: -219px;
    margin-left: 275px;
}

div#mws-header {
border-color: #7bad3e;
}

div.dataTables_wrapper .dataTables_paginate span.paginate_active{
    background-color: #7bad3e;
}

div#mws-username,
.mws-panel .mws-panel-header span.mws-i-24,
div.mws-panel-toolbar ul li a.mws-ic-16,
.mws-table tbody td a:hover,
div#mws-footer a:hover,
div#mws-navigation ul li.active a{
    color:#7bad3e!important;
    text-shadow:none!important;
}

.mws-table tbody td a,
div#mws-footer a{
    color:#000;
}

.mws-table tbody tr:hover td {
    background-color: #ccc!important;
}

.breadcrumbs .divider {
    color: #000000;
    padding: 0 5px;
}
.breadcrumbs{
    margin-bottom: 8px;
    margin-left: 15px;
}
.breadcrumbs .breadcrumb_name {
    color: #000000;
}

.breadcrumbs .breadcrumb_name:last-child{
    color: #0088CC;
}
.image_block{
    margin-bottom: 4px;
}


.mws-table tbody tr.article_modern {
    background-color: lightgreen;
}

.mws-table tbody tr.article_notmodern {
    background-color: #FAFAFA;
}