<h2 class="remember_pass">ВВЕДИТЕ e-mail, чтобы отписатся от рассылки</h2> 
<form onsubmit="return jphp('/feedback/save', this)" class="registration">
    <div class="registration_column">
        <div class="control remember_pass">
            <label>e-mail</label>
            <input name='email' type="text" placeholder="e-mail" />
            <div class="error"></div>                                
        </div>            
        <input type="submit" value="отправить" class="send_mail" /> 
    </div> 
    <div style="clear: both;"></div>
    <input type="hidden" value="<?echo Model_Feedback::TYPE_UNSUBSCRIBE?>" name="type"/>                         
</form> 