<div class="sort">
     <div class="title">
        Обзор товара <span><?echo $this->item['name']?></span>
     </div>
</div>
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <div id="container">
       <?echo $this->partial('blockmaterials.tpl', array('data' => $this->data, 'noFindData'=>'У данного товара пока нет обзоров'));?> 
    </div>
