div.runbase {
  max-width: 1160px;
  margin: 0 auto;
  min-height: 700px;
}
div.runbase div.runbase-promo {
  max-width: 1160px;
  background: url('../images/runbase/index/promo-bg.jpg') no-repeat top right;
  height: 439px;
  margin: 0 auto;
  position: relative;
}
div.runbase div.runbase-promo div.promo-text {
  width: 280px;
  position: absolute;
  top: 60px;
  left: 30px;
}
div.runbase div.runbase-promo div.promo-text ul {
  margin-bottom: 15px;
}
div.runbase div.runbase-promo div.promo-text p,
div.runbase div.runbase-promo div.promo-text li {
  font-size: 22px;
  font-family: "avantgarde", Arial, Helvetica, sans-serif;
  color: #fff;
  line-height: 125%;
}
div.runbase div.runbase-promo div.promo-text li {
  list-style: disc;
  list-style-position: outside;
  display: list-item;
  margin: 0 0 5px 24px;
}
@media screen and (max-width: 1219px) {
  div.runbase div.runbase-promo div.promo-text {
    top: 290px;
    left: 20px;
    width: 350px;
  }
  div.runbase div.runbase-promo div.promo-text p,
  div.runbase div.runbase-promo div.promo-text li {
    font-size: 16px;
    margin: 0 0 6px 0;
  }
  div.runbase div.runbase-promo div.promo-text li {
    list-style: disc;
    list-style-position: outside;
    display: list-item;
    margin: 0 0 3px 20px;
  }
  div.runbase div.runbase-promo div.promo-text ul {
    margin: 0 0 6px;
  }
}
div.runbase div.runbase-promo div.promo-features {
  position: absolute;
  right: -10px;
  top: 180px;
  width: 800px;
}
div.runbase div.runbase-promo div.promo-features div.promo-feature {
  color: #fff;
  width: 120px;
  float: left;
  margin: 0 40px;
}
div.runbase div.runbase-event {
  width: 370px;
  margin: 40px 0 0 0;
  float: left;
}
div.runbase div.runbase-event div.date-time {
  height: 90px;
  background: #8dc63f;
  position: relative;
}
div.runbase div.runbase-event div.date-time div.number {
  font-size: 116px;
  font-family: "adineuebold", Arial, Helvetica, sans-serif;
  color: #fff;
  line-height: 62px;
  margin: 0 0 0 -2px;
}
div.runbase div.runbase-event div.date-time div.month {
  position: absolute;
  top: 16px;
  left: 125px;
  font-size: 30px;
  font-family: "avantgarde", Arial, Helvetica, sans-serif;
  color: #fff;
}
div.runbase div.runbase-event div.date-time div.dow {
  position: absolute;
  top: 50px;
  left: 125px;
  font-size: 18px;
  font-family: "adihaus_md", Arial, Helvetica, sans-serif;
  color: #000;
}
div.runbase div.runbase-event div.date-time div.time {
  position: absolute;
  top: 25px;
  left: 260px;
  font-family: "adihaus_md", Arial, Helvetica, sans-serif;
  color: #fff;
  font-style: italic;
  background: url('../images/runbase/index/clock.png') no-repeat 0 3px;
  padding: 0 0 0 22px;
  font-size: 24px;
  line-height: 24px;
}
div.runbase div.runbase-event div.title,
div.runbase div.runbase-event div.title a {
  font-family: "adihaus_reg", Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 24px;
  text-transform: uppercase;
  font-style: italic;
  margin: 26px 0 0 0;
}
div.runbase div.runbase-event div.name {
  color: #808080;
  background: url('../images/runbase/index/boot.png') no-repeat 0 3px;
  padding: 0 0 0 24px;
  margin: 8px 0 0 0;
}
div.runbase div.runbase-register {
  background: url('../images/runbase/index/register-bg.jpg') no-repeat center;
  width: 479px;
  height: 323px;
  margin: -115px 40px 0 0;
  position: relative;
  float: right;
  padding: 56px 30px 0;
}
div.runbase div.runbase-register div.header {
  font-size: 30px;
  font-family: "avantgarde", Arial, Helvetica, sans-serif;
}
div.runbase div.runbase-register div.date-time {
  margin: 60px 0 40px;
}
div.runbase div.runbase-register div.date-time div.combo {
  width: 170px;
  display: inline-block;
  margin: 0 18px 0 0;
}
div.runbase div.runbase-register div.date-time div.combo div.current {
  border-color: #000;
}
div.runbase div.runbase-register div.date-time div.combo:hover div.current {
  background: #fff9e1;
}
div.runbase div.runbase-register div.date-time div.combo ul {
  background: #fff9e1;
}
div.runbase div.runbase-register input.button {
  background-color: #1F1A02;
  background-image: url("../images/runbase/index/yellow-arrow.png");
  background-position: 234px 15px;
  background-repeat: no-repeat;
  color: white;
  display: inline-block;
  font-family: "avantgarde", Arial, Helvetica, sans-serif;
  font-size: 20px;
  height: 52px;
  line-height: 50px;
  padding: 0 45px 0 20px;
  text-align: left;
  border: 0 none;
  cursor: pointer;
}
div.runbase div.runbase-events div.runbase-event {
  position: relative;
  float: none;
  width: 100%;
  margin: 0 0 20px 0;
}
div.runbase div.runbase-events div.runbase-event div.date-time {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
}
div.runbase div.runbase-events div.runbase-event div.desc {
  padding: 0 0 0 390px;
  width: 100%;
  height: 90px;
  border: solid 2px #f2f2f2;
}
div.runbase div.runbase-events div.runbase-event div.desc div.title {
  margin: 14px 0 0 0;
}
div.runbase div.runbase-events div.runbase-event a.reserve {
  display: none;
  background: url('../images/runbase/index/reserve.png') no-repeat top left;
  position: absolute;
  top: 24px;
  right: 20px;
  color: #8dc63f;
  padding: 0 0 0 50px;
  height: 42px;
  font-size: 16px;
  font-family: "avantgarde", Arial, Helvetica, sans-serif;
  width: 175px;
}
div.runbase div.runbase-events div.runbase-event:hover a.reserve {
  display: block;
}
div.runbase-menu {
  padding: 0 0 16px;
}
div.runbase-menu a {
  display: inline-block;
  font-size: 20px;
  color: #bbbcb8;
  margin: 0 30px 0 0;
  font-family: "adihaus_md", Arial, Helvetica, sans-serif;
  border-bottom: solid 3px #e6e6e6;
  padding: 0 0 10px 0;
}
div.runbase-menu a:first-child {
  font-size: 22px;
  font-family: "adineuebold", Arial, Helvetica, sans-serif;
}
div.runbase-menu a.active {
  color: #000;
  border-bottom: solid 3px #000;
}
div.runbase-card {
  height: 911px;
  position: relative;
  background: url('../images/runbase/card/card-bg.jpg') no-repeat top left;
}
div.runbase-card div.runbase-menu {
  background: #fff;
  width: 500px;
}
div.runbase-card div.runbase-card-social {
  top: 600px;
  position: absolute;
  display: inline-block;
  width: 600px;
  margin: 70px 0 0 50px;
}
div.runbase-card div.runbase-card-social div {
  float: left;
  width: 100px;
}
div.runbase-card div.runbase-card-promo {
  top: 720px;
  left: 20px;
  position: absolute;
  width: 860px;
  height: 200px;
}
div.runbase-card div.runbase-card-promo div.text {
  width: 860px;
}
div.runbase-card div.runbase-card-promo div.text p {
  font-size: 48px;
  font-family: "avantgarde", Arial, Helvetica, sans-serif;
  color: #000;
  line-height: 105%;
}
div.runbase-card div.runbase-card-promo div.text p.subtitle {
  font-family: "adihaus_md", Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 18px;
}
div.runbase-get-card {
  padding: 0 0 0 20px;
  width: 1160px;
}
div.runbase-get-card div.runbase-get-card-left {
  width: 560px;
  float: left;
  background: url('../images/runbase/card/steps-get.jpg') no-repeat 0 80px;
  min-height: 1000px;
  padding: 0 0 0 70px;
}
div.runbase-get-card div.runbase-get-card-right {
  width: 560px;
  float: right;
  background: url('../images/runbase/card/steps-social.jpg') no-repeat 0 170px;
  min-height: 882px;
  padding: 0 0 0 70px;
}
div.runbase-get-card h2 {
  margin: 0 0 40px -90px;
}
div.runbase-get-card li {
  font-size: 18px;
  line-height: 125%;
  margin: 15px 0 23px;
}
div.runbase-get-card a {
  font-size: 18px;
  color: #8dc63f;
  text-decoration: underline;
}
div.runbase-get-card p.grey {
  font-size: 18px;
  color: #808080;
  line-height: 125%;
  margin: -16px 0 0 -70px;
}
div.card-features {
  padding: 50px 0 0 20px;
  margin: 0 0 50px 0;
  max-width: 1190px;
  overflow: hidden;
}
div.card-features div.card-feature {
  width: 370px;
  margin: 0 1% 0 0;
  height: 190px;
  float: left;
  padding: 0 0 0 100px;
  background-position: top left;
  background-repeat: no-repeat;
}
div.card-features div.card-feature a {
  font-size: 14px;
  color: #8dc63f;
  font-family: "adihaus_md", Arial, Helvetica, sans-serif;
  text-decoration: underline;
}
div.card-features div.card-feature div.title {
  font-size: 18px;
  color: #000;
  font-family: "avantgarde", Arial, Helvetica, sans-serif;
  margin: 16px 0 18px 0;
}
div.card-features div.card-feature p {
  font-size: 14px;
  color: #808080;
  font-family: "adihaus_md", Arial, Helvetica, sans-serif;
  line-height: 125%;
  width: 250px;
}
div.card-features div.card-feature.feature-1 {
  background-image: url('../images/runbase/card/feature-1.png');
}
div.card-features div.card-feature.feature-2 {
  background-image: url('../images/runbase/card/feature-2.png');
}
div.card-features div.card-feature.feature-3 {
  background-image: url('../images/runbase/card/feature-3.png');
}
div.card-features div.card-feature.feature-4 {
  background-image: url('../images/runbase/card/feature-4.png');
}
div.card-features div.card-feature.feature-5 {
  background-image: url('../images/runbase/card/feature-5.png');
}
div.card-features div.card-feature.feature-6 {
  background-image: url('../images/runbase/card/feature-6.png');
}
@media screen and (max-width: 1219px) {
  div.card-features div.card-feature {
    width: 430px;
    margin: 0 20px 0 0;
  }
  div.card-features div.card-feature p {
    width: 300px;
  }
}
div.notification {
  background: #e6e6e6;
  padding: 30px;
  margin: 0 0 40px;
}
div.notification h1 {
  font-size: 32px;
  line-height: 100%;
  margin: 0 0 12px 0;
}
div.notification h1 span {
  font-family: "adineuebold", Arial, Helvetica, sans-serif;
  font-size: 34px;
}
div.notification p {
  font-size: 20px;
  width: 650px;
  margin: 0 0 9px 0;
  line-height: 22px;
}
div.notification p.bold {
  font-family: "adihaus_md", Arial, Helvetica, sans-serif;
  margin-top: 18px;
}
div.runbase-contacts {
  position: relative;
}
div.runbase-contacts div.runbase-map-container {
  width: 100%;
  height: 608px;
  position: relative;
}
div.runbase-contacts div.runbase-map-container div.runbase-map {
  width: 100%;
  height: 608px;
}
div.runbase-contacts div.runbase-map-container div.map-over {
  background: url("../images/runbase/contacts/map-over.png") repeat-x top left;
  width: 100%;
  height: 120px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
div.runbase-contacts div.text {
  position: relative;
  z-index: 1001;
  margin: -20px 0 0 0;
}
div.runbase-contacts div.text div.title {
  background: url("../images/runbase/contacts/pin.png") no-repeat 0 16px;
  font-size: 40px;
  color: #000;
  font-family: "avantgarde", Arial, Helvetica, sans-serif;
  padding: 0 0 16px 34px;
}
@media screen and (max-width: 1219px) {
  div.runbase-contacts div.text div.title {
    font-size: 28px;
    background-position: 0 9px;
  }
}
div.runbase-contacts div.text div.phone {
  background: url("../images/runbase/contacts/phone.png") no-repeat 0 5px;
  font-size: 26px;
  color: #000;
  font-family: "avantgarde", Arial, Helvetica, sans-serif;
  padding: 0 0 20px 34px;
}
div.runbase-contacts div.text p {
  font-size: 14px;
  font-family: "adihaus_md", Arial, Helvetica, sans-serif;
  line-height: 125%;
  width: 500px;
}
div.runbase-contacts div.send {
  width: 360px;
  height: 300px;
  background: #fbe71b;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
  z-index: 1002;
}
div.runbase-contacts div.send h1 {
  line-height: 100% !important;
  margin: 8px 0 24px 0;
  font-size: 24px;
}
div.runbase-contacts div.send textarea {
  width: 100%;
  height: 120px;
  padding: 15px;
  background: #fff9e1;
  color: #000;
  font-family: "avantgarde", Arial, Helvetica, sans-serif;
  font-size: 16px;
  border: 0;
  margin: 0 0 22px;
}
div.runbase-contacts div.send input.button {
  background-color: #1F1A02;
  background-image: url("../images/runbase/index/yellow-arrow.png");
  background-position: 127px 15px;
  background-repeat: no-repeat;
  color: white;
  display: inline-block;
  font-family: "avantgarde", Arial, Helvetica, sans-serif;
  font-size: 20px;
  height: 52px;
  line-height: 50px;
  padding: 0 45px 0 20px;
  text-align: left;
  border: 0 none;
  cursor: pointer;
}
div.shadow div.bind-card {
  width: 591px;
  height: 505px;
  background: url("../images/runbase/index/card-needed.png") no-repeat center;
  padding: 220px 68px 70px;
  margin-top: -200px;
  position: relative;
}
div.shadow div.bind-card p {
  line-height: 21px;
  font-size: 18px;
  font-family: "adihaus_md", Arial, Helvetica, sans-serif;
  color: #000;
  margin: 0 0 20px;
  text-align: left;
}
div.shadow div.bind-card p b {
  font-size: 20px;
  font-family: "adihaus_md", Arial, Helvetica, sans-serif;
}
div.shadow div.bind-card p.bold {
  line-height: 26px;
  font-size: 22px;
  font-family: "avantgarde", Arial, Helvetica, sans-serif;
  font-weight: bold;
}
div.shadow div.bind-card p span {
  font-family: "adineuebold", Arial, Helvetica, sans-serif;
  font-size: 22px;
}
div.shadow div.bind-card span.close {
  top: -43px;
  right: 0;
  position: absolute;
  width: 95px;
  height: 33px;
  line-height: 33px;
  color: #fff;
  font-family: "adihaus_md", Arial, Helvetica, sans-serif;
  font-size: 14px;
  background: url("../images/runbase/index/close.png") no-repeat 60px 0;
  display: block;
  text-align: left;
  cursor: pointer;
}
div.shadow div.bind-card span.close:hover {
  background-position: 60px -33px;
}
div.limit-width-fix {
  width: 100% !important;
}
