<?if(count($this->data)):?>
    <div class="mws-form-row">
        <label>Прикреплённые файлы:</label>
        <div class="mws-form-item large">
            <?foreach($this->data as $row):?>
                <a target="_blank" href="<?=$row['path']?>"><?=$row['file_name']?></a><br />
            <?  endforeach;?>
        </div>
    </div>
<?endif;?>