<div class="element social no_photo <?if(!isset($this->post['post_photo'])):?>empty_photo<?elseif(isset($this->post['is_large_size'])):?>wide<?endif;?>" onclick="window.open('<?echo $this->post['post_material_link']?>')">
    <?if(isset($this->post['post_photo'])):?>
        <a href="<?echo '#'; //$this->post['post_material_link']?>" class="photo">
        	<img onload="onLoadImage(this)"  onerror="BadPost.add(<?echo $this->post['id']?>)" src="<?echo $this->post['post_photo']?>" alt="img"/>
        </a>
    <?else:?>
        <div class="twitter"><?echo $this->post['name']?></div>
    <?endif?> 
    <a href="#<?//echo $this->post['post_profile_link']?>" class="ava">
        <img onload="$(this).parents('.element').removeClass('no_photo')" src="<?echo $this->post['post_user_avatar']?>" alt="img" />
    </a>
    <div class="name">@<?echo $this->post['post_user_screen_name']?></div>
    <div class="where_from <?if(Model_Materials::CATEGORY_INSTAGRAM_POST == $this->post['category_id']):?>ins<?else:?>tw<?endif;?>"></div>
</div>

