    <h1 class="black_title">
        <?=$this->translate("Скачивание файла")?> 
    </h1>
    <div class="section my_section">
        <div style="margin-top:45px" class="box visible">
            <a href="/files/index/download/id/<?=$this->module_params['id']?>"><?=$this->translate("Скачать файл")?></a>
        </div>
    </div>