body
{
	color:#323232;
	font:13px/1.5 'PTSansRegular', Arial, Helvetica, sans-serif;
}

body, #mws-header, #mws-wrapper
{
	min-width:320px;
}

.mws-inset
{
	background-image:url(../../images/core/mws-inset.png);
	
	/* CSS 3 */
	
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.15), inset 0 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.15), inset 0 1px 2px rgba(0, 0, 0, 0.5);
	-o-box-shadow:0 1px 0 rgba(255, 255, 255, 0.15), inset 0 1px 2px rgba(0, 0, 0, 0.5);
	-khtml-box-shadow:0 1px 0 rgba(255, 255, 255, 0.15), inset 0 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.15), inset 0 1px 2px rgba(0, 0, 0, 0.5);
}

/* Header */

div#mws-header
{
	background-image:url(../../images/core/mws-header-bg.png);
	background-repeat: repeat-x;
	border-bottom:4px solid;
	z-index:1;
	position:absolute;
	top:0; left:0; right:0;
	
	/* CSS 3 */
	
	-moz-box-shadow:0 2px 2px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow:0 2px 2px rgba(0, 0, 0, 0.35);
	-o-box-shadow:0 2px 2px rgba(0, 0, 0, 0.35);
	-khtml-box-shadow:0 2px 2px rgba(0, 0, 0, 0.35);
	box-shadow:0 2px 2px rgba(0, 0, 0, 0.35);
}

div#mws-logo-container
{
	width:180px;
	height:58px;
	float:left;
	padding:0 10px;
}

div#mws-logo-container #mws-logo-wrap
{
	width:180px;
	height:58px;
	text-align:center;
	vertical-align:middle;
	display:table-cell;
}

div#mws-logo-container #mws-logo-wrap img
{
	max-width:180px;
	max-height:58px;
}

/* User Tools */

div#mws-user-tools
{
	float:right;
	padding:9px 0;
	margin-right:10px;
}

div#mws-user-tools .mws-dropdown-menu, 
div#mws-user-tools #mws-user-info
{
	float:left;
	position:relative;
	margin:0 6px;
}

div#mws-user-tools .mws-dropdown-menu
{
	margin-top:4px;
}

div#mws-user-tools #mws-user-info
{
	display:block;
	height:32px;
	padding:4px;
}

div#mws-user-tools #mws-user-info #mws-user-photo
{
	width:28px;
	height:28px;
	padding:2px;
	float:left;
	background:url(../../images/core/mws-user-pic-bg.png) repeat-x;
	position:relative;
	
	/* CSS 3 */
	
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	-khtml-border-radius:2px;
	border-radius:2px;
}

div#mws-user-tools #mws-user-info #mws-user-photo img
{
	max-width:100%;
	max-height:100%;
}

div#mws-user-tools #mws-user-info #mws-user-functions
{
	margin:0 4px 0 40px;
	font-size:11px;
}

div#mws-user-tools #mws-user-info #mws-user-functions ul, 
div#mws-user-tools #mws-user-info #mws-user-functions ul li
{
	margin:0;
	list-style:none;
}

div#mws-user-tools #mws-user-info #mws-user-functions ul li
{
	display:inline;
	margin-right:4px;
}

div#mws-user-tools #mws-user-info #mws-user-functions ul li a
{
	text-decoration:none;
	color:#ffffff;
}

div#mws-user-tools #mws-user-info #mws-user-functions ul li a:hover
{
	text-decoration:underline;
}

/* Dropdown Menu */

div#mws-user-tools .mws-dropdown-menu span.mws-dropdown-notif
{
	position:absolute;
	display:block;
	min-width:12px;
	height:16px;
	padding:0 2px;
	font-size:11px;
	text-align:center;
	color:#ffffff;
	background-color:#c00;
	top:-4px;
	left:75%;
	z-index:2;
	
	/* CSS 3 */
	
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	-khtml-border-radius:2px;
	border-radius:2px;
}

div#mws-user-tools .mws-dropdown-menu a.mws-i-24, 
div#mws-user-tools .mws-dropdown-menu a.mws-ic
{
	background-position:center center;
}

div#mws-user-tools .mws-dropdown-menu a.mws-dropdown-trigger
{
	text-indent:-9999px;
	display:block;
	padding:0;
	outline:none;
	overflow:hidden;
	width:32px;
	height:32px;
	border:1px solid #565656;
	
	/* CSS 3 */
	
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
}

div#mws-user-tools .mws-dropdown-menu .mws-dropdown-box
{
	display:none;
	position:absolute;
	right:0;
	width:200px;
	top:100%;
	margin-top:-1px;
	z-index:-1;
	padding:10px;
	
	background:#323232;
	border:1px solid #565656;
	
	/* CSS 3 */
	
	-webkit-border-radius:6px 0 6px 6px;
	-moz-border-radius:6px 0 6px 6px;
	-o-border-radius:6px 0 6px 6px;
	-khtml-border-radius:6px 0 6px 6px;
	border-radius:6px 0 6px 6px;	
}

div#mws-user-tools .mws-dropdown-menu .mws-dropdown-box .mws-dropdown-content
{
	background:#ffffff;
}

div#mws-user-tools .mws-dropdown-menu .mws-dropdown-box ul, 
div#mws-user-tools .mws-dropdown-menu .mws-dropdown-box ul li
{
	margin:0;
	list-style:none;
	font-size:12px;
}

/* Dropdown Styles */

div#mws-user-tools .mws-dropdown-menu .mws-dropdown-box .mws-dropdown-content ul.mws-messages li a
{
	padding-left:32px;
}

div#mws-user-tools .mws-dropdown-menu .mws-dropdown-box .mws-dropdown-content .mws-dropdown-viewall a, 
div#mws-user-tools .mws-dropdown-menu .mws-dropdown-box .mws-dropdown-content ul li a
{
	padding:4px 8px;
	text-decoration:none;
	color:#323232;
	display:block;
	border-bottom:1px solid #d0d0d0;
}

div#mws-user-tools .mws-dropdown-menu .mws-dropdown-box .mws-dropdown-content .mws-dropdown-viewall a
{
	border:0;
	font-size:11px;
}

div#mws-user-tools .mws-dropdown-menu .mws-dropdown-box .mws-dropdown-content .mws-dropdown-viewall a:hover
{
	background-color:#d5d5d5;
}

div#mws-user-tools .mws-dropdown-menu .mws-dropdown-box .mws-dropdown-content ul.mws-messages li:hover a, 
div#mws-user-tools .mws-dropdown-menu .mws-dropdown-box .mws-dropdown-content ul.mws-notifications li:hover a
{
	background-color:#d5d5d5 !important;
	border-bottom-color:#bbbbbb;
}

div#mws-user-tools .mws-dropdown-menu .mws-dropdown-box .mws-dropdown-content ul.mws-messages li.read a
{
	background:url(../icons/16/email_open.png) no-repeat 8px center;
}

div#mws-user-tools .mws-dropdown-menu .mws-dropdown-box .mws-dropdown-content ul.mws-messages li.unread a
{
	background:url(../icons/16/email.png) no-repeat 8px center #f0f0f0;
}

div#mws-user-tools .mws-dropdown-menu .mws-dropdown-box .mws-dropdown-content ul.mws-notifications li.unread a
{
	background:#f0f0f0;
}

div#mws-user-tools .mws-dropdown-menu .mws-dropdown-box .mws-dropdown-content ul.mws-messages li .message, 
div#mws-user-tools .mws-dropdown-menu .mws-dropdown-box .mws-dropdown-content ul.mws-notifications li .message
{
	overflow:hidden;
	display:block;
	white-space:nowrap;
	text-overflow:ellipsis;
}

div#mws-user-tools .mws-dropdown-menu .mws-dropdown-box .mws-dropdown-content ul.mws-messages li .sender
{
	font-weight:bold;
}

div#mws-user-tools .mws-dropdown-menu .mws-dropdown-box .mws-dropdown-content ul.mws-messages li .sender, 
div#mws-user-tools .mws-dropdown-menu .mws-dropdown-box .mws-dropdown-content ul.mws-messages li .time, 
div#mws-user-tools .mws-dropdown-menu .mws-dropdown-box .mws-dropdown-content ul.mws-notifications li .time
{
	font-size:0.9em;
	display:block;
}

/* Toggled */

div#mws-user-tools .mws-dropdown-menu.toggled
{
	z-index:2;
}

div#mws-user-tools .mws-dropdown-menu.toggled .mws-dropdown-box
{
	display:block;
}

div#mws-user-tools .mws-dropdown-menu.toggled a.mws-dropdown-trigger
{
	border-bottom:0;
	
	/* CSS 3 */
		
	-webkit-border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	-o-border-radius:4px 4px 0 0;
	-khtml-border-radius:4px 4px 0 0;
	border-radius:4px 4px 0 0;
}

/* Wrapper */

div#mws-wrapper
{
	height:auto;
	min-height:100%;
	position:relative;
	z-index:0;
}

/* Sidebar */

div#mws-sidebar
{
	width:198px;
	margin-right:2px;
	padding-top:72px;
	float:left;
	z-index:1;
	position:relative;
}

div#mws-sidebar-stitch, 
div#mws-sidebar-bg
{
	position:absolute;
	top:0; bottom:0;
}

div#mws-sidebar-stitch
{
	left:189px;
	width:17px;
	z-index:2;
	background:url(../../images/core/mws-sidebar-stitch.png) repeat-y;
}

div#mws-sidebar-bg
{
	left:0;
	z-index:0;
	width:198px;
	background-image:url(../../images/core/mws-dark-bg.png);
}

/* Search Box */

div#mws-searchbox
{
	margin:0 16px 10px 10px;
	padding:3px;
}

div#mws-searchbox .mws-search-input
{
	background:none;
	padding:3px;
	width:135px;
	float:left;
	border:none;
	outline:none;
	color:#ffffff;
}

div#mws-searchbox .mws-search-submit
{
	text-indent:-9999px;
	text-transform:capitalize;
	width:24px; height:24px;
	display:block;
	margin-left:144px;
	border:none;
	cursor:pointer;
	background:url(../../images/core/mws-search-icon.png) no-repeat center center;
	
	/* CSS 3 */
	
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
}

/* Navigation */

div#mws-navigation ul, 
div#mws-navigation ul li
{
	margin:0;
	list-style:none;
}

div#mws-navigation ul
{
	padding-top:1px;
	background:url(../../images/core/mws-nav-ruler.png) repeat-x left top;
}

div#mws-navigation ul li
{
	position:relative;
	padding-bottom:2px;
	background:url(../../images/core/mws-nav-ruler.png) repeat-x left bottom;
}

div#mws-navigation ul li a, 
div#mws-navigation ul li span
{
	color:#ffffff;
	outline:none;
	display:block;
	text-decoration:none;
	margin-left:10px;
	margin-right:16px;
	position:relative;
	padding:11px 48px 11px 40px;
	line-height:20px;
}

div#mws-navigation ul li a.mws-ic, 
div#mws-navigation ul li span.mws-ic
{
	padding-left:40px;
	background-position:4px center;
}

div#mws-navigation ul li a.mws-i-24, 
div#mws-navigation ul li span.mws-i-24
{
	padding-left:40px;
	background-position:8px center;
}

div#mws-navigation ul li span.mws-nav-tooltip
{
	position:absolute;
	line-height:1;
	padding:5px;
	right:-16px;
	top:50%;
	margin-top:-12px;
}

div#mws-navigation ul li ul
{
	background:url(../../images/core/mws-inset.png);
	border:0;
	/* CSS 3 */
	
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
	-o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
	-khtml-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
}

div#mws-navigation ul li ul.closed
{
	display:none;
}

div#mws-navigation ul li ul li
{
	border:0;
	padding:0;
	margin:0;
	background-image:none;
}

div#mws-navigation ul li ul li a, 
div#mws-navigation ul li ul li span
{
	display:block;
	font-size:12px;
	padding:4px 0 4px 40px;

	text-shadow:none;
}

div#mws-navigation ul li ul li:hover
{
	background:url(../../images/core/mws-sub-nav-bg.png);
}

/* Container */

div#mws-container
{
	margin-left:200px;
	padding-top:100px;
	background-color:#f0f0f0;
}

div#mws-container .container
{
	float:left;
	margin:0 4%;
	padding-bottom:52px;
}


/* Footer */

div#mws-footer
{
	margin:0 4%;
	text-align:center;
	padding:16px 0;
	bottom:0;
	left:206px; right:0;
	border-top:1px solid #dadada;
	position:absolute;
}
