/* Pagination */

.mws-pagination
{
	text-align:center;
	margin:auto;
}

.mws-pagination.left
{
	text-align:left;
}

.mws-pagination.right
{
	text-align:right;
}

.mws-pagination ul li
{
	margin:0;
	display:inline;
	list-style:none;
}

.mws-pagination ul li .mws-paging-button
{
	text-align:center;
	padding:3px 9px;
	margin:4px 1px;
	border:1px solid #cccccc;
	text-decoration:none;
	color:#545454;
	background:#f0f0f0;
	
	/* CSS 3 */
	
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-moz-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
}

.mws-pagination ul li .mws-paging-button.current
{
	border-color:#323232;
	color:#ffffff;
	background-color:#323232;
}

.mws-pagination ul li .mws-paging-button.disabled
{
	color:#d0d0d0;
	cursor:default;
}

/* Wizard Navigation */

.mws-wizard ul
{
	margin:0;
	padding:0;
	float:left;
}

.mws-wizard
{
	background:#eaeaea url(../../images/core/mws-wizard-bg.png) repeat-x left top;
	border-bottom:1px solid #dddddd;
}

.mws-wizard ul li
{
	float:left;
	list-style:none;
	margin:0; padding:0;
	padding:0 25px;
	margin-right:-25px;
	margin-bottom:-1px;
	border-right:1px solid #d6d6d6;
	background:url(../../images/core/mws-wizard.png) no-repeat left -50px;
	
	display:block;
	max-width:250px;
	max-height:50px;
	overflow:hidden;
}

.mws-wizard ul li.current a, 
.mws-wizard ul li.current span
{
	color:#555555;
}

.mws-wizard ul li a.mws-i-24, 
.mws-wizard ul li a.mws-ic-16, 
.mws-wizard ul li span.mws-i-24, 
.mws-wizard ul li span.mws-ic-16
{
	background-position:12px center;
	padding-left:40px;
}

.mws-wizard ul li:first-child
{
	background-position:-25px -50px;
	padding-left:12px;
}

.mws-wizard ul li:last-child
{
	padding-right:12px;
}

.mws-wizard ul li:first-child.current
{
	background-position:-25px top;
}

.mws-wizard ul li:first-child:hover
{
	background-position:-25px -100px;
}

.mws-wizard ul li.current, 
.mws-wizard ul li.current:hover
{
	background-position:left top;
}

.mws-wizard ul li:hover
{
	background-position:left -100px;
}


.mws-wizard ul li a, 
.mws-wizard ul li span
{
	display:block;
	line-height:50px;
	text-decoration:none;
	padding:0 16px;
	color:#999999;
}

/* Summary */

ul.mws-summary
{
	margin:0; 
	padding:0;
}

ul.mws-summary li
{
	padding:0; margin:0;
	list-style-type:none;
	font-size:14px;
	color:#666666;
	padding:2px 4px;
	border-bottom:1px solid #bbbbbb;
	border-top:1px solid #ffffff;
	
	overflow:hidden;
	display:block;
	text-overflow:ellipsis;
	white-space:nowrap;
}

ul.mws-summary li:first-child
{
	border-top:0;
}

ul.mws-summary li:last-child
{
	border-bottom:0;
}

ul.mws-summary li span
{
	font-size:26px;
	text-align:right;
	margin-right:3px;
	width:80px;
	color:#444444;
	display:inline-block;
}

/* Toolbar */

div.mws-panel-toolbar
{
    float: right;
    margin-top: -32px;
}

div.mws-panel-toolbar.bottom
{
	border-top:1px solid #dddddd;
}

div.mws-panel-toolbar ul, 
div.mws-panel-toolbar ul li
{
	list-style:none;
	padding:0; margin:0;
}

div.mws-panel-toolbar.right ul
{
	float:right;
}

div.mws-panel-toolbar ul
{
	float:left;
}

div.mws-panel-toolbar.right ul li
{
	border-right:0;
	border-left:1px solid #d0d0d0;
}

div.mws-panel-toolbar ul li
{
	display:block;
	float:left;
}

div.mws-panel-toolbar ul li a, 
div.mws-panel-toolbar ul li span
{
	text-decoration:none;
	color: #C5D52B;
	padding:8px 12px;
	display:block;
	cursor:pointer;
}

div.mws-panel-toolbar ul li a.mws-ic-16, 
div.mws-panel-toolbar ul li span.mws-ic-16
{
	padding-left:32px;
	background-position:12px center;
}

