div.boost-content {
    background: url('../../images/boost/bg.jpg') no-repeat top left;
    min-height: 7980px;
    padding: 70px 0 0 16px;
    box-shadow: 0 10px 10px #000;
}

div.boost-content div.title {
    color: #ffdc00;
    font-size: 35px;
    font-family: "avantgarde", Arial, Helvetica, sans-serif;
    margin: 0 0 12px 0;
}

div.boost-content div.title span {
    color: #ffdc00;
    font-size: 36px;
    font-family: "adineuebold", Arial, Helvetica, sans-serif;
}

div.boost-content div.boost-front {
    height: 540px;
}

div.boost-content div.boost-front div.title {
    font-size: 66px;
    line-height: 65px;
}

div.boost-content div.boost-front div.title span {
    font-size: 74px;
}

div.boost-content div.boost-front p {
    color: #fff;
    font-size: 18px;
    width: 480px;
    font-family: "adihaus_reg", Arial, Helvetica, sans-serif;
    margin: 42px 0 0 0;
    line-height: 125%;
}

div.boost-content div.boost-likes {
    display: inline-block;
    width: 600px;
    margin: 48px 0 0 0;
}

div.boost-content div.boost-likes div {
    float: left;
    width: 100px;
}

div.boost-content div.boost-programs {
    padding: 100px 0 0 0;
    height: 1260px;
}

div.boost-content div.boost-programs p,
div.boost-content div.boost-programs li {
    font-family: "adihaus_reg", Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #303030;
    width: 560px;
    line-height: 30px;
}

div.boost-content div.boost-programs li {
    display: block;
    list-style: outside;
    background: url('../../images/boost/li.png') 12px 7px no-repeat;
    padding: 0 0 10px 30px;
}

div.boost-content div.boost-programs p {
    margin: 0 0 10px 0;
}

div.boost-content div.boost-pluses {
    height: 2100px;
    position: relative;
}

div.boost-content div.boost-pluses div.boost-plus {
    position: absolute;
    width: 300px;
}

div.boost-content div.boost-pluses div.boost-plus p {
    font-family: "adihaus_reg", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 20px;
}

div.boost-content div.boost-pluses div.boost-plus p span {
    font-family: "adihaus_md", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
}

div.boost-content div.boost-video {
    padding: 110px 0 0 0;
    height: 745px;
}

div.boost-content div.boost-adv {
    width: 880px;
    height: 907px;
}

div.boost-content div.boost-adv div.subtitle {
    font-family: "adihaus_reg", Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    font-style: italic;
    color: #252525;
    margin: 14px 0 15px;
}

div.boost-content div.boost-adv p {
    font-family: "adihaus_reg", Arial, Helvetica, sans-serif;
    color: #252525;
    font-size: 18px;
    line-height: 28px;
}

div.boost-content div.boost-adv div.subtitle2 {
    font-family: "adihaus_reg", Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-style: italic;
    color: #252525;
    margin: 32px 0 12px;
}

div.boost-content div.boost-questions ol li {
    font-family: "adihaus_reg", Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #252525;
    margin: 0 0 28px 32px;
    list-style-position: outside;
    width: 820px;
    line-height: 28px;
    font-style: italic;
}

div.boost-content div.boost-questions ol li:last-child {
    margin-bottom: 0;
}

div.boost-content div.boost-questions ol li p {
    font-family: "adihaus_reg", Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #252525;
    line-height: 28px;
    font-style: normal;
}

div.boost-content div.boost-questions ol li p:last-child {
    margin-bottom: 0;
}

div.boost-content div.boost-questions ol li span {
    font-size: 22px;
    display: block;
}

footer {
    margin-top: 0;
}

div.boost-map-wrapper {
    position: relative;
    margin-bottom: 50px;
}

div.boost-map-shadow {
    position: absolute;
    z-index: 10000;
    height: 18px;
    width: 100%;
    top: 0;
    left: 0;
    background: url('../../images/boost/map-shadow.png') repeat-x;
}

div.boost-map-shadow-white {
    position: absolute;
    z-index: 10000;
    height: 123px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: url('../../images/boost/map-shadow-white.png') repeat-x;
}

div#boost-map {
    margin: 0;
    width: 100%;
    height: 800px;
}

div.infobox {
    border-top: solid 4px #000;
    background: #fff;
    width: 340px;
}

div.infoBox {
    display: none;
}

div.infoBox img{
    display: none;
}

div.infobox-close{
    background: url('../../images/boost/infobox-close.png') no-repeat 0 0;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 13px;
    right: 15px;
    z-index: 10000;
    cursor: pointer;
}

div.infobox-top {
    padding: 40px 20px 15px;
    position: relative;
}

div.infobox-corner {
    background: url('../../images/boost/corner.png') no-repeat 42px 0;
    height: 11px;
    width: 340px;
}

div.infobox-name {
    color: #000;
    font-size: 18px;
    font-family: "adihaus_md", Arial, Helvetica, sans-serif;
}

div.infobox-address {
    color: #000;
    font-size: 18px;
    font-family: "adihaus_reg", Arial, Helvetica, sans-serif;
}

div.infobox-phone {
    color: #000;
    font-size: 18px;
    font-family: "adihaus_reg", Arial, Helvetica, sans-serif;
}

div.infobox-hours {
    padding: 25px 20px;
    background: #f0f0f0;
    color: #000;
    font-size: 18px;
    font-family: "adihaus_reg", Arial, Helvetica, sans-serif;
}

div.infobox-hours div.infobox-hours-title {
    color: #000;
    font-size: 18px;
    font-family: "adihaus_md", Arial, Helvetica, sans-serif;
}

a.boost-map-link {
    height: 46px;
    width: 147px;
    display: block;
    margin: 30px 0 0 0;
    background: #fde919 url('../../images/boost/buy.png') no-repeat top left;
    transition-property: 'background-color';
    transition-duration: 0.3s;
    color: #000;
    font-size: 18px;
    font-family: "avantgarde", Arial, Helvetica, sans-serif;
    line-height: 45px;
    text-align: center;
    padding: 0 30px 0 0;
}

a.boost-map-link:hover {
    background-color: #fbec50;
}